<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="inc/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main layout:fragment="main" class="media">
        <section class="media-sect media-mobile">
            <h1 class="d:none">메인</h1>
            <section class="">
                <div class="txt-al:center">
                    <h1 class="fw:3 fs:8">🎖️2주의 영화</h1>
                </div>
                <div class="m-top:4">
                    <div class="d:flex jc:center">
                        <img src="" alt="dd">
                    </div>
                    <div class="m-top:4">
                        <div class="d:flex jc:center">
                            <div>
                                <div>
                                    <span class="icon icon:trophy ">아이콘</span>
                                </div>
                            </div>
                            <div class="d:inline-block">
                                <div>
                                    10000원
                                </div>
                                <div class="d:flex jc:center">
                                    이터널 선샤인
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-top:4">
                        <div class="d:flex jc:center">
                            "Enjoy it"
                        </div>
                        <div class="d:flex jc:center">
                            평론가 한줄평
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <h1 class="pl:1 fw:3 fs:5 border-left bd-color:main-2 bd-w:3 mt:5 mb:2">한줄 평</h1>
                <div
                    class="d:flex fw:3 fs:2 bd-radius:1 margin-bottom:3 px:2 py:2 bd bd-color:base-3">
                    <div class="m-right:2">
                        <span class="icon icon:user">아이콘</span>
                    </div>
                    <div class="w:100p">
                        <div class="d:flex jc:space-between mb:1">
                            <div class="d:flex ai:center gap:3 d:inline-block">
                                <span >닉네임</span>
                            </div>
                            <div>
                                <span>날짜</span>
                            </div>
                        </div>
                        <div class="d:flex jc:space-between mb:1">
                            <div>한줄평이 출력됩니다</div>
                        </div>
                        <div class="d:flex jc:space-between">
                            <div class="d:inline-block">
                                <span class="margin-right:auto">평점</span>
                            </div>
                            <div>
                                <span class="icon icon:thumbs_up">아이콘</span>
                                <span>좋아요 수</span>
                            </div>
                        </div>
                    </div>
                </div>
                <form action="" >
                    <textarea id="comments" name="comments"
                    class="width:10p h:1 p:2 n-textbox n-textbox-status:success" type="text"
                    placeholder="내용을 입력해주세요."></textarea>
                    <div class="d:flex jc:end">
                        <button type="submit" class="n-btn">입력</button>
                    </div>
                </form>
            </section>
            <section>
                <h1>역대 2주의 영화</h1>
                <section class="m-top:4">

                    <div class="media-pading bd d:inline-block bd-radius:2 bd-color:base-1 p-right:6">
                        <div class="display:inline-block bd-color:base-10 ">
                            <a href="">
                                <img class="bd-radius:1 bd-color:base-10 line-height:1 box-shadow:1"src=""alt="/" height="212px" >
                            </a>
                        </div>
                    <div class="d:flex ai:center d:inline-block line-height:1">
                        <span class="fs:8 fw:3 line-height:1 font-style:italic">1</span>
                        <div  class="m-left:4 d:inline-block line-height:1">
                            <div>
                                <span class="fs:2 fw:3 d:inline-block">13000원 </span>
                            </div>
                            <div>
                                <span class="fs:2 fw:1 d:inline-block">서울의 봄</span>
                            </div>
                        </div>
                    </div>
                    </div>
                </section>
            </section>
            <div class="d:flex jc:center m-top:4" >
                 <a href="/2weeks/list">
                     <button class="n-btn n-btn-color:main">다음주 후보 보러가기</button>
                 </a>
            </div>
        </section>
    </main>
</body>
</html>