<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/adminlayout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <style>
        .main-container{
            width: 980px; margin: 0 auto; 
            height: 100%;
        } 

        .main-contents{
            width: 980px; margin: 0 auto; 
            min-height: 500px;
        }

        .nav-contents{
            width: 980px; margin: 0 auto;
        }

    </style>
    <script src="/js/admin/community-board/list-board.js" defer></script>
</head>
<body>
    <main layout:fragment="main">
        <div class="bg-color:base-3 h:1">
            <div class="main-container fs:4 fw:3 
            d:flex align-items:center">커뮤니티 게시판 관리</div>
        </div>
        <nav class="nav-contents mt:4 mb:1">
            <ul class="d:flex col-gap:1 jc:flex-end">
                <li>
                    <a href="" class="fw:bold">게시글 목록</a> |
                </li>
                <li>
                    <a href="commentlist">댓글 목록</a>
                </li>
            </ul>
        </nav>
        <section class="main-contents mb:5">
            <h1 class="d:none">커뮤니티 게시글 목록</h1>
            <table class="mb:4 n-table n-table-hover n-table-border n-table-border-radius:3 fw:3">
                <colgroup>
                    <col style="width: 119px;"> <!--119-->
                    <col style="width: 447px;"> <!--447-->
                    <col style="width: 160px;"> <!--160-->
                    <col style="width: 60px;"> <!--60-->
                    <col style="width: 136px;"> <!--116-->
                    <col style="width: 50px;"> <!--116-->
                    <!-- 추가적인 열에 대한 너비 설정 -->
                </colgroup>
                <thead class="">
                    <tr class="jc:space-around">
                        <th class="txt-al:center">분류</th>
                        <th class="txt-al:center">제목</th>
                        <th class="txt-al:center">작성자</th>
                        <th class="txt-al:center">추천</th>
                        <th class="txt-al:center">작성일</th>
                        <th class="txt-al:center">
                            <!-- 전체 선택 -->
                            <input type="checkbox" id="check-all">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="board:${list}">
                        <td class="txt-al:center py:1">
                            <span class="d:inline-block icon-size bg-color:base-6 bd-radius:1 color:base-1 px:1"
                                th:text="${clist.get(board.categoryId-1).name}">카테고리 이름</span>
                        </td>
                        <td class="txt-al:start py:1 white-space:normal">
                            <a href="" th:href="@{/community/board/detail(c=${clist.get(board.categoryId-1).engName},id=${board.id})}" th:text="${board.title}">게시글 제목</a>
                            <span class=" color:base-6 fs:2" th:text="${board.commentCount > 0 ? '['+board.commentCount+']' :''}">[12]</span>
                        </td>
                        <td th:text="${board.nickname}" class="txt-al:start py:1">작성자</td>
                        <td class="txt-al:center py:1">123</td>
                        <td class="txt-al:center py:1" th:text="${#dates.format(board.regDate, 'yyyy.MM.dd')}">작성일</td>
                        <td class="txt-al:center py:1" >
                            <input type="checkbox" class="check-content" name="" th:value="${board.id}">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d:flex jc:flex-end">
                <a type="button" class="delete-btn n-btn n-btn-color:accent">삭제</a>
            </div>
            
            
        </section>

        <section class="mb:10">
            <h1 class="d:none">페이저</h1>
            <!-- <div th:text="${param.p} eq null ? 0:${param.p}">1</div> -->
            <ul class="n-pager"
                style="display:flex; justify-content:center; font-size: 20px;"
                th:with="page=${param.p} eq null ? 1 : ${{param.p}}
                        ,floatnum=(${page}-1)/5
                        ,startnum=${T(java.lang.Math).floor(floatnum)} * 5 + 1
                        ,lastnum=${count} mod 10 > 0 ? ${count div 10}+1 : ${count div 10}"
                        >
                <!-- <li th:text="${startnum}">aa</li> -->
                <li>
                    <span style="color: rgb(189, 189, 189)" th:if="${page} lt 6">이전</span><!-- 현재 페이지가 6 미만인 경우 -->
                    <a th:if="${page} ge 6" th:href="@{boardlist(p=${startnum-1})}" href="boardlist?p=1">이전</a><!-- 현재 페이지가 6 이상인 경우 -->
                </li>
                <li th:class="${page} == ${n} ? 'active' : ''"  th:each="n : ${#numbers.sequence(startnum, startnum+4)}">
                    <!-- 각 페이지 번호에 대한 링크를 생성합니다 -->
                    <!-- <a th:href="@{'list?p=' + ${n}}" th:text="${n}"></a> -->
                    <a th:if="${n} le ${lastnum}" href="boardlist?p=1" th:href="@{boardlist(p=${n})}" th:text="${n}">1</a>
                    <span style="color: rgb(189, 189, 189)" th:if="${n} gt ${lastnum}" th:text="${n}"></span>
                </li>
                <li>
                    <span style="color: rgb(189, 189, 189)" th:if="${startnum}+4 ge ${lastnum}">다음</span> <!--  현재 페이지의 끝이 lastnum 초과인 경우 -->
                    <a th:href="@{boardlist(p=${startnum+5})}" th:if="${startnum}+4 lt ${lastnum}">다음</a><!-- 현재 페이지의 끝이 lastnum 이하인 경우 -->
                </li>
            </ul>
        </section>
    </main>

</body>
</html>