<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="inc/adminlayout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/components/admin/home.css" />
</head>


<body>
    <main layout:fragment="main">
        <section class="admin-container">
            <section class="d:flex fl-dir:column ">
                <div class="fs:5 fw:bold  border-bottom:2px">총 회원 수</div>
                <div class="fs:3 fw:bold color:main-3">12312명</div>
            </section>
            
        </section>
    
        

    </main>
    
</body>
</html>