<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/event/index.css">
</head>
<body>
    <main layout:fragment="main">
        <section class="event-card-list">
            <h1 class="fw:bold fs:7 pb:1 mb:10 color:main-3">EVENT</h1>
            <div class="content">
                <section class="event-card">
                    <a href="">
                        <div class="p:4">
                            <h1>여기는 제목이 오는곳이지라 안그랴유</h1>
                            <div class="event-card-period"><span>2024-04-31~2024-05-22</span></div>
                        </div>
                        <div class="event-card-img_block">
                            <img src="/image/제목 없음.png" alt="이미지">
                        </div>
                    </a>
                </section>

                <section class="event-card">
                    <a href="">
                        <div class="p:4">
                            <h1>여기는 제목이 오는곳이지라 안그랴유</h1>
                            <div class="event-card-period"><span>2024-04-31~2024-05-22</span></div>
                        </div>
                        <div class="event-card-img_block">
                            <img src="/image/제목 없음.png" alt="이미지">
                        </div>
                    </a>
                </section>

                <section class="event-card">
                    <a href="">
                        <div class="p:4">
                            <h1>여기는 제목이 오는곳이지라 안그랴유</h1>
                            <div class="event-card-period"><span>2024-04-31~2024-05-22</span></div>
                        </div>
                        <div class="event-card-img_block">
                            <img src="/image/제목 없음.png" alt="이미지">
                        </div>
                    </a>
                </section>

                <section class="event-card">
                    <a href="">
                        <div class="p:4">
                            <h1>여기는 제목이 오는곳이지라 안그랴유</h1>
                            <div class="event-card-period"><span>2024-04-31~2024-05-22</span></div>
                        </div>
                        <div class="event-card-img_block">
                            <img src="/image/제목 없음.png" alt="이미지">
                        </div>
                    </a>
                </section>

                <section class="event-card">
                    <a href="">
                        <div class="p:4">
                            <h1>여기는 제목이 오는곳이지라 안그랴유</h1>
                            <div class="event-card-period"><span>2024-04-31~2024-05-22</span></div>
                        </div>
                        <div class="event-card-img_block">
                            <img src="/image/제목 없음.png" alt="이미지">
                        </div>
                    </a>
                </section>

                <section class="event-card">
                    <a href="">
                        <div class="p:4">
                            <h1>여기는 제목이 오는곳이지라 안그랴유</h1>
                            <div class="event-card-period"><span>2024-04-31~2024-05-22</span></div>
                        </div>
                        <div class="event-card-img_block">
                            <img src="/image/제목 없음.png" alt="이미지">
                        </div>
                    </a>
                </section>

            </div>
        </section>
    </main>
</body>
</html>