<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="inc/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .너비245픽셀 {
            width: 245;
        }

        .icon-size {
            width: 20px;
            height: 20px;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <main layout:fragment="main">
        <section class="media px:3 color:base-10">
            <section class="media-sect">
                <h1 class="d:none">게시판리스트</h1>
                <section class="bd bd-color:main-10 txt-al:center">
                    <h1>커뮤니티</h1>
                    <div>
                        <img src="" alt="">
                    </div>
                </section>
                <section class="d:flex fl-wrap:wrap">
                    <section th:each="c:${ctgId}" class="w:6 bd-bottom bd-color:main-10 m-top:4">
                        <div>
                            <a th:href="@{board/list(c=${c.id})}">
                                <h1 class="fw:3 fs:6" th:text="${c.name}">인기글</h1>
                            </a>
                        </div>
                        <div class="px:2">
                            <div class="d:flex m-top:3">
                                <div th:with="numbers=${#numbers.sequence(1, 5)}" class="px:2">
                                    <div th:each="number : ${numbers}" class="d:flex m-top:3">
                                        <div>
                                            <span class="d:inline-block icon-size bg-color:base-8 bd-radius:1 color:base-1 txt-al:center m-right:2" th:text="${number}">1</span>
                                                
                                        </div>
                                        <div>
                                            <a href="" class="fw:3  m-right:1">제목</a>
                                        </div>
                                        <div>댓글</div>
                                    </div>
                                </div>
                                <!-- <div th:each="l:${c.id}">
                                    <div>
                                        <span
                                            class="d:inline-block icon-size bg-color:base-8 bd-radius:1 color:base-1 txt-al:center m-right:2"
                                            th:text="${l.title}">제목
                                        </span>
                                    </div>
                                    <div class="txt-al:center"
                                        th:text="${#dates.format(l.regDate, 'yyyy-MM-dd HH:mm:ss')}">6
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </section>
                </section>
            </section>
        </section>
    </main>
</body>

</html>