<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="inc/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .너비245픽셀 {
            width: 245;
        }

        .icon-size {
            width: 20px;
            height: 20px;
        }

        .line-height {
            line-height: 23px;
        }

        .bgc {
            border-radius: 16px 16px 0 0;
            background-color: #f7f7f7;
            height: 54px;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <main layout:fragment="main">
        <section class="media color:base-10">
            <section class="media-sect">
                <h1 class="d:none">게시판리스트</h1>
                <!-- <section class="bd bd-color:main-10 txt-al:center">
                    <h1>커뮤니티</h1>
                    <div>
                        <img src="" alt="">
                    </div>
                </section> -->
                <section class="d:flex fl-wrap:wrap gap:4 media-mobile">
                    <section th:each="category,c : ${ctgId}" class="w:6 bd-bottom bd-color:main-10 m-top:4 p-bottom:4 n-item n-item-type:shadow p:0">
                        <div class="bgc d:flex ai:center">
                            <a th:href="@{board/list(c=${category.id})}">
                                <h1 class="fw:3 fs:4 color:main-3 px:4" th:text="${category.name+'게시판'}">자유</h1>
                            </a>
                        </div>
                        <div class="px:2">
                            <div class="d:flex">
                                <ul class="px:2">
                                    <li th:each="list,c : ${#vars['list' + c.count]}" class="d:flex m-top:3 ai:center">
                                        <div>
                                            <span class="d:inline-block icon-size bg-color:base-8 bd-radius:1 color:base-1 txt-al:center m-right:2 line-height" th:text="${c.count}">1</span>
                                            <!-- th:href="@{board/detail(c=${c.id}&b=${b.id})}" -->
                                        </div>
                                        <div>
                                            <a href="" class="color:base-10 m-right:1" th:href="@{board/detail(c=${category.id},id=${list.id})}" th:text="${list.title}">제목</a>
                                        </div>
                                        <div class="color:base-6 fs:2">[12]</div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </section>
                    <!-- <section class="w:6 bd-bottom bd-color:main-10 m-top:4 p-bottom:4">
                        <div>
                            <a th:href="@{board/list(c=${2})}">
                                <h1 class="fw:3 fs:6">인증</h1>
                            </a>
                        </div>
                        <div class="px:2">
                            <div class="d:flex m-top:3">
                                <div class="px:2">
                                    <div th:each="l2:${list2}" class="d:flex m-top:3">
                                        <div>
                                            <span class="d:inline-block icon-size bg-color:base-8 bd-radius:1 color:base-1 txt-al:center m-right:2">1</span>

                                        </div>
                                        <div>
                                            <a href="" class="fw:3  m-right:1" th:href="@{board/detail(b=${l2.id})}" th:text="${l2.title}">제목</a>
                                        </div>
                                        <div>댓글</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>
                    <section class="w:6 bd-bottom bd-color:main-10 m-top:4 p-bottom:4">
                        <div>
                            <a th:href="@{board/list(c=${3})}">
                                <h1 class="fw:3 fs:6">리뷰 게시판</h1>
                            </a>
                        </div>
                        <div class="px:2">
                            <div class="d:flex m-top:3">
                                <div class="px:2">
                                    <div th:each="l3:${list3}" class="d:flex m-top:3">
                                        <div>
                                            <span class="d:inline-block icon-size bg-color:base-8 bd-radius:1 color:base-1 txt-al:center m-right:2">1</span>

                                        </div>
                                        <div>
                                            <a href="" class="fw:3  m-right:1" th:href="@{board/detail(b=${l3.id})}" th:text="${l3.title}">제목</a>
                                        </div>
                                        <div>댓글</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>
                    <section class="w:6 bd-bottom bd-color:main-10 m-top:4 p-bottom:4">
                        <div>
                            <a th:href="@{board/list(c=${4})}">
                                <h1 class="fw:3 fs:6">자랑</h1>
                            </a>
                        </div>
                        <div class="px:2">
                            <div class="d:flex m-top:3">
                                <div class="px:2">
                                    <div th:each="l4:${list4}" class="d:flex m-top:3">
                                        <div>
                                            <span class="d:inline-block icon-size bg-color:base-8 bd-radius:1 color:base-1 txt-al:center m-right:2">1</span>
                                        </div>
                                        <div>
                                            <a href="" class="fw:3  m-right:1" th:href="@{board/detail(c=${4}&b=${l4.id})}" th:text="${l4.title}">제목</a>
                                        </div>
                                        <div>댓글</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section> -->
                </section>
            </section>
        </section>
    </main>
</body>

</html>