<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.moviespring.web.repository.CommunityRepository">
  <!-- 카테고리 목록 -->
  <select id="findByCategoryId">
		select * from category
    </select>

   <!-- 게시글 목록 -->
    <select id="findAll">
		select * from general_board where category_id = #{categoryId}
    </select>

    <!--게시글 상세-->
    <select id="findById">
		select * from general_board 
    where id=#{id}
    </select>


  <!-- 게시글 등록 -->
	<insert id="saveContents">
        insert into general_board (title,contents,member_id,category_id) 
        values (#{categoryId},#{title},#{contents},12);
  </insert>

</mapper>