<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.moviespring.web.repository.CommunityBoardLikeRepository">

    <!--좋아요 , 싫어요 등록-->
    <insert id="save">
        INSERT INTO community_board_like (community_board_id,member_id,status)
        VALUES (#{boardId},#{memberId},#{status});
    </insert>

    <!--좋아요/싫어요/총 개수-->
    <select id="getCount" resultType="Integer">
        SELECT count(*) FROM community_board_like WHERE community_board_id = #{boardId}
            <if test="status != null">
                AND status = #{status}
            </if>
    </select>

</mapper>