<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
				PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
				"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.moviespring.web.repository.CompanyInsertRepository">

	<insert id="saveCompany" parameterType="Company">
		INSERT INTO company (company_cd, company_nm, company_nm_en, company_part_names)
		SELECT #{companyCd}, #{companyNm}, #{companyNmEn}, #{companyPartNames}
		FROM (SELECT 1) AS dummy
		WHERE NOT EXISTS (
		SELECT 1 FROM company WHERE company_cd = #{companyCd})
	</insert>

	<insert id="saveMovieCompany" parameterType="MovieCompany">
		INSERT INTO movie_company (company_cd, movie_cd, movie_nm, company_part_nm)
		SELECT #{companyCd}, #{movieCd}, #{movieNm}, #{companyPratNm}
		FROM (SELECT 1) AS dummy
		WHERE NOT EXISTS (
		SELECT 1 FROM movie_company WHERE company_cd = #{companyCd} AND movie_cd = #{movieCd} )
	</insert>




</mapper>
