<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.moviespring.web.repository.MemberRepository">

    <!-- 로그인 -->
    <select id="findByMembername" resultType="Member">
        select * from member where username = #{username};
    </select>

    <select id="findById" resultType="Member">
		SELECT * FROM member
        WHERE
		    id = #{memberId};
    </select>

    <!-- 이메일 검증 -->
    <select id="findByEmail" resultType="Member">
        select * from member where email = #{email};
    </select>

    <select id="findAll" resultType="Member">
		SELECT * FROM member
        <where>
			<if test="status != null">
				status = #{status}
			</if>
		</where>
		LIMIT #{offset}, #{size};
    </select>

    <!--    닉네임 검증-->
    <select id="findByNickname" resultType="Member">
        SELECT * FROM member
        where nickname = #{nickname};
    </select>

    <select id="getCount" resultType="Integer">
		SELECT COUNT(*) FROM member
        <where>
			<if test="status != null">
				status = #{status}
			</if>
		</where>
	</select>

    <!-- 회원가입 -->
    <insert id="regist" parameterType="Member"> <!-- 매개변수로 전달받는 값이 객체면 파라미터 타입 속성으로 객체의 타입을 적어준다? -->
        insert into member(username,password,name,nickname,age,email,role)
        values (#{username},#{password},#{name},#{nickname},#{age},#{email},#{role});
    </insert>


    <update id="update" parameterType="member">
        update member
        <set>
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updatePoint" parameterType="member">
        update member set point = #{point} where id = #{id}
    </update>

    <delete id="delete">
        UPDATE member 
        SET 
            status=2 
        WHERE 
            id=#{id};
    </delete>

    <!-- 유저 확인 -->
    <select id="findByEmailAndName" resultType="Long">
        SELECT id
        FROM 
            member
        WHERE 
            email = #{email} AND name = #{username}
    </select>

    <!-- 유저 확인 -->
    <select id="findByEmailAndNameAndId" resultType="Long">
        SELECT id
        FROM 
            member
        WHERE 
            email = #{email} AND name = #{username} AND username = #{userId}
    </select>

    <update id="plus1000Point">
    UPDATE member
    SET point = point + #{point}
    WHERE id = #{memberId};
    </update>

</mapper>