<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
				PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
				"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.moviespring.web.repository.MovieTrailerRepository">

    <insert id="save" parameterType="MovieTrailer">
        insert into 
            movie_trailer (movie_id, url, trailer_intro)
        values 
            (#{movieId}, #{url}, #{trailerIntro})
    </insert>

    <!--영화 아이디별 예고편 가져오기-->
    <select id="findAllById" resultType="MovieTrailer">
        SELECT * FROM movie_trailer
        WHERE movie_id=#{movieId}
    </select>

    <delete id="delete" parameterType="Long">
        DELETE FROM movie_trailer WHERE movie_id=#{movieId};
    </delete>

</mapper>