<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
				PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
				"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.moviespring.web.repository.MovieInsertRepository">

	<select id="getlist" resultType="Movie3">
		SELECT * FROM 
			spring_of_movie_db.movie3 
		where 
			rep_genre_nm not like '%에로%' 
			and open_dt &lt; 20240425 
		order by open_dt desc limit 10
	</select>


	<!--	일일 박스오피스 데이터 넣기-->
	<insert id="DailyBoxOfficeSave" parameterType="Movie2">
		INSERT INTO MOVIE2 (movie_cd, movie_nm, open_dt, salesAmt, audiCnt, audiAcc)
		VALUES (#{movieCd}, #{movieNm}, #{openDt}, #{salesAmt}, #{audiCnt}, #{audiAcc})
	</insert>

	<!--	영화 목록 중에 없는 데이터 집어넣기-->
	<insert id="saveIfNotMovie" parameterType="Movie2">
		INSERT INTO movie3 (movie_cd, movie_nm, open_dt, rep_genre_nm, movie_nm_en, nation_alt, prd_year)
		SELECT #{movieCd}, #{movieNm}, #{openDt}, #{repGenreNm}, #{movieNmEn}, #{nationAlt},#{prdYear}
		FROM (SELECT 1) AS dummy
		WHERE NOT EXISTS (
		SELECT 1 FROM movie3 WHERE movie_cd = #{movieCd}
		)
	</insert>

	<!--엑셀에서 누적관객수 데이터 집어넣기	-->
	<insert id="excelDataInsert" parameterType="Movie2">
		UPDATE movie3
		SET audi_acc = #{audiAcc}
		WHERE movie_nm = #{movieNm}
		AND open_dt = #{openDt}
	</insert>

<!--	영화 데이터들 업데이트 해주기.-->
	<insert id="MovieDataUpdate" parameterType="Movie2">
		UPDATE movie3
		SET
		movie_nm = #{movieNm},
		movie_nm_en = #{movieNmEn},
		open_dt = #{openDt},
		rep_genre_nm = #{repGenreNm},
		nation_alt = #{nationAlt},
		prd_year = #{prdtYear},
		company_cd = #{companyCd},
		director_nm = #{directorNm}
		WHERE movie_cd = #{movieCd}

	</insert>



</mapper>
