<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
				PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
				"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.moviespring.web.repository.MovieInsertRepository">


	<insert id="DailyBoxOfficeSave" parameterType="Movie2">
	INSERT INTO MOVIE2 (movieCd, movieNm, openDt, salesAmt, audiCnt, audiAcc)
	VALUES (#{movieCd}, #{movieNm}, #{openDt}, #{salesAmt}, #{audiCnt}, #{audiAcc})
	</insert>


<!--	<insert id="saveAllMovie" parameterType="Movie2">-->

<!--		INSERT INTO movie3 (movieCd, movieNm, openDt, repGenreNm)-->
<!--		VALUES (#{movieCd}, #{movieNm}, #{openDt}, #{repGenreNm})-->

<!--	</insert>-->

	<insert id="saveIfNotMovie" parameterType="Movie2">
		INSERT INTO movie3 (movieCd, movieNm, openDt, repGenreNm)
		SELECT #{movieCd}, #{movieNm}, #{openDt}, #{repGenreNm}
		FROM (SELECT 1) AS dummy
		WHERE NOT EXISTS (
		SELECT 1 FROM movie3 WHERE movieCd = #{movieCd}
		)
	</insert>

	<!--누적관객수 데이터 집어넣기	-->
	<insert id="AduienceAccInsert" parameterType="Movie2">
		UPDATE movie3
		SET audiAcc = #{audiAcc}
		WHERE MovieNm = #{movieNm}
		AND OpenDt = #{openDt}
	</insert>


</mapper>
