<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.moviespring.web.repository.MovieRepository">
	<!-- 영화 목록 -->
	<select id="findAll" resultType="Movie">
		select * from movie
    </select>

	<!-- 영화 상세 목록 -->
	<select id="findById" resultType="Movie">
		select * from movie
		where id=#{id}
	</select>

	<!-- 영화 등록 (임시) -->
	<insert id="save" parameterType="Movie" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO movie (tmdb_id, kobis_id, kor_name, eng_name, sponsor, release_date, running_time, watch_grade, movie_intro, poster_url, stillcut_url, trailer_url, release_nation, genre)
    	VALUES 
			(#{tmdbId}, #{kobisId}, #{korName}, #{engName}, #{sponsor},
			#{releaseDate}, #{runningTime}, #{watchGrade}, #{movieIntro}, #{posterUrl},
			#{stillcutUrl}, #{trailerUrl}, #{releaseNation}, #{genre})
	</insert>



</mapper>
