<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.moviespring.web.repository.TwoWeeksMovieRepository">


    <!--                                                ///////////user///////////                                       -->

    <!-- 영화후보목록 -->
    <select id="getByMovieCd"> 
	SELECT * from total_vote_view;
	</select>

	<!-- 투표합계 (progressbar 계산용) -->
	<select id="getVoteCount"> 
	SELECT SUM(vote_count) AS total_votes FROM total_vote_view;
	</select>

	<!-- 투표멤버 (progressbar 계산용) -->
	<select id="findVotedUser"> 
	SELECT *from vote_member_list where member_id = #{memberId};
	</select>

    <!-- 테마이름 -->
    <select id="getGenre"> 
	SELECT genre from twoweek_movie_vote_list LIMIT 1;
	</select>

	<!-- 투표수가장높은영화 -->
	<select id="getThisWeeksMovie">
	SELECT *FROM total_vote_view
		WHERE vote_count = 
		(
		SELECT MAX(vote_count)
    	FROM total_vote_view
		)
		LIMIT 1;	
	</select>
	
	<!-- 2주의영화투표 -->
	<insert id="addVoteToMovieList">
	INSERT INTO vote_member_list (member_id,movie_id)
	VALUES (#{memberId}, #{movieId})
	</insert>
    <!--                                                ///////////user///////////                                       -->



    <!--                                                ///////////admin///////////                                       -->
	<select id="getVoteList1">
	SELECT movie.*, movie3.audi_acc
	FROM movie
	INNER JOIN movie3 ON movie.kobis_id = movie3.movie_cd
	WHERE movie.genre = #{childSelectValue}
	ORDER BY movie3.audi_acc DESC
	LIMIT 5;
	</select>
	<!-- 배급사별 영화등록,조회 -->

    <!-- 추후 관리자 영화 등록시 비동기처리로 등록한 영화 가져올때쓸거 -->
	<select id="getEditedList">
	select movie.* from twoweek_movie_vote_list
	inner join movie on movie.id = twoweek_movie_vote_list.movie_cd
	</select>

    <!-- admin 2주의영화 등록시 기존정보 초기화 아래의 3개 맵핑sql은 트랜젝션 내부에서 실행됨 -->
    <!-- 테마별 영화등록 -->
	<insert id="getMoviesByDynamicCriteria">
        INSERT INTO twoweek_movie_vote_list 
        (movie_cd, tmdb_id, kobis_id, kor_name, eng_name, sponsor, release_date, running_time, watch_grade, movie_intro, poster_url, logo_url, main_img_url, release_nation, genre)
        SELECT 
            movie.id, movie.tmdb_id, movie.kobis_id, movie.kor_name, movie.eng_name, movie.sponsor, movie.release_date, movie.running_time, movie.watch_grade, movie.movie_intro, movie.poster_url, movie.logo_url, movie.main_img_url, movie.release_nation, movie.genre
        FROM 
            movie
        INNER JOIN 
            movie3 ON movie.kobis_id = movie3.movie_cd
        <where>
            <choose>
                <when test="parentSelectValue == 'genre'">
                    movie.genre = #{childSelectValue}
                </when>
                <when test="parentSelectValue == 'releaseDate'">
                    YEAR(movie.release_date) = #{childSelectValue}
                </when>
                <when test="parentSelectValue == 'distributor'">
                    movie.distributor = #{childSelectValue}
                </when>
            </choose>
        </where>
        ORDER BY 
            movie3.audi_acc DESC
        LIMIT 6
    </insert>

    <!-- 기존영화정보삭제 -->
	<delete id="deleteAllMovieList">
	DELETE FROM twoweek_movie_vote_list;
	</delete>
    <!-- 기존투표정보삭제 -->
	<delete id="deleteAllVoteList">
	DELETE FROM vote_member_list;
	</delete>
    <!--                                                ///////////admin///////////                                       -->

</mapper>

