<!DOCTYPE html>
<html lang="en">
<footer class="footer">
    <section class="footer_container">
                <ul class="mb:2 color:base-5">
                    <li>서비스 이용약관 | </li>
                    <li class="ml:1">개인정보 처리방침 |</li>
                    <a class="ml:1" href="">회사 안내</a>
                </ul>
                <ul class="color:base-5">
                    <li>고객센터 |</li>
                    <li class="ml:1"><a href="" >cs@springofmovie.com<span>, 02-123-4567</span></a>
                    </li>
                </ul>
                <ul class="mb:2 color:base-5">
                    <li>제휴 및 대외 협력 |</li>
                    <li class="ml:1"><a href="" target="_blank">https://springofmovie.team/contact</a></li>
                </ul>
                <ul class="color:base-6">
                    <li>주식회사 영화의봄 |</li>
                    <li class="ml:1">대표 이승환 |</li>
                    <li class="ml:1">서울특별시 마포구 백범로 3층</li>
                </ul>
                <ul class="color:base-6">
                    <li>사업자 등록 번호<span> 123-45-67890</span></li>
                </ul>
                <ul class="color:base-6">
                    <li>© 2024 by SPRING OF MOVIE, Inc.
                        All rights reserved.
                    </li>
                </ul>
    </section>
</footer>
</html>