<!DOCTYPE html>
<html lang="en">
    <header class="header mb:6 color:base-10">
        <div class="top_nav">
            <div class="nav_container top_nav_container">
                <h1 class="logo">영화의봄</h1>
                <div class="search_box">
                    <form action="">
                        <div class="search">
                            <input type="text" name="query" value="">
                            <button type="submit">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </form>
                    <a class="login_btn" href="/user/signin" rel="">
                        <i sec:authorize="isAnonymous()" class="icon icon:user"></i>
                        <!-- <span sec:if anonymous="true">로그인</span> -->
                    </a>
                    <a class="login_btn" href="/user/signout" rel="">
                        <i sec:authorize="isAuthenticated()" class="fa-solid fa-right-to-bracket"></i>
                        <!-- <span sec:if not="isAnonymous()" th:text="${#authentication.name}">이거 나오면 망함</span> -->
                    </a>
                    <div sec:authorize="isAuthenticated()">
                        <a sec:authentication="name" href="movie/list"></a>
                    </div>
                    <!-- <a class="icon icon-sign-out icon-color:base-0" href="/user/logout">로그아웃</a></li> -->
                    <!-- <div sec:authorize="isAnonymous()">이거 나오면 익명유저</div> -->
                    <!-- <span sec:authentication="name">이거 나오면 망함</span> -->

                </div>
            </div>
        </div>
        <section class="media">
            <h1 class="d:none">게시판 리스트</h1>
            <nav class="d:flex n-tabbar">
                <div class="nav_container bottom_nav_container">
                    <div>
                        <ul class="n-tabbar jc:space-between">
                            <li class="active"><a href="/movie/list"><button>영화</button></a></li>
                            <li><button>이벤트</button></li>
                            <li><button>이주의 영화</button></li>
                            <li><a href="/community/main"><button>커뮤니티</button></a></li>
                            <li><button>관객놀이터</button></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </section>
    </header>
</html>