<!DOCTYPE html>
<html lang="en">
<header class="header mb:6 color:base-10">
    <div class="top_nav">
        <div class="nav_container top_nav_container">
            <h1 class="logo"><a href="/">영화의봄</a></h1>
            <div class="search_box">
                <form action="/search">
                    <div class="search">
                        <input type="text" name="query" value="" placeholder="영화,인물,게시글 검색" class="n-textbox">
                        <button type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
                <a class="login_btn d:flex ai:center white-space:nowrap" href="/user/signin" rel="">
                    <i sec:authorize="isAnonymous()" class="icon icon:user ml:1"></i>
                    <span sec:authorize="isAnonymous()" class="ml:1 fs:2">로그인</span>
                </a>
                <div class="d:flex ai:center">
                    <a class="login_btn" href="/user/signout" rel="">
                        <i sec:authorize="isAuthenticated()" class="icon icon:sign_out ml:2"></i>
                        <!-- <span sec:if not="isAnonymous()" th:text="${#authentication.name}">이거 나오면 망함</span> -->
                    </a>
                    <div sec:authorize="isAuthenticated()" class="white-space:nowrap ml:1 fs:2">
                        <a sec:authentication="principal.username" href="/user/mypage" class="vt-align:sub"></a>
                        <!-- <a href="/user/mypage" th:text="${#authentication.name}">캐망했따</a> -->
                        <!-- <a th:text="${user.nickname}" href="/user/mypage" class="vt-align:sub"></a> -->
                        <!--                        th:text="${user.nickname}"-->
                    </div>
                </div>
                <!-- <a class="icon icon-sign-out icon-color:base-0" href="/user/logout">로그아웃</a></li> -->
                <!-- <div sec:authorize="isAnonymous()">이거 나오면 익명유저</div> -->
                <!-- <span sec:authentication="name">이거 나오면 망함</span> -->

            </div>
        </div>
    </div>
    <section class="media">
        <h1 class="d:none">헤더</h1>
        <nav class="d:flex n-tabbar">
            <h2 class="d:none">게시판 리스트</h2>
            <div class="nav_container bottom_nav_container">
                <div>
                    <ul class="n-tabbar jc:space-between">
<!--                        현재 url의 모든 하위루트에 같은 설정을 적용-->
<!--                        추후에 카테고리가 추가될 경우를 대비해 반복문 처리 해야 할듯? -->
                        <li th:classappend="${url != null && url.startsWith('/movie/') ? 'active' : ''}"><a class="tabbar-height fs:2" href="/movie/main">영화</a></li>
                        <li th:classappend="${url != null && url.startsWith('/event/') ? 'active' : ''}"><a class="tabbar-height fs:2" href="/event/main">이벤트</a></li>
                        <li th:classappend="${url != null && url.startsWith('/2weeks/') ? 'active' : ''}"><a class="tabbar-height fs:2" href="/2weeks/movie">2주의 영화</a></li>
                        <li th:classappend="${url != null && url.startsWith('/community/') ? 'active' : ''}"><a class="tabbar-height fs:2" href="/community/main">커뮤니티</a></li>
                        <li th:classappend="${url != null && url.startsWith('/playground/') ? 'active' : ''}"><a class="tabbar-height fs:2" href="/playground/main">관객놀이터</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
</header>
</html>