<!DOCTYPE html>
<html lang="en">
    <header class="header mb:10">
        <div class="top_nav">
            <div class="nav_container top_nav_container">
                <h1 class="logo">영화의봄</h1>
                <div class="search_box">
                    <form action="">
                        <div class="search">
                            <input type="text" name="query" value="">
                            <button type="submit">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </form>
                    <a class="login_btn" href="#" rel="">
                        <i class="fa-solid fa-right-to-bracket"></i>
                    </a>
                </div>
            </div>
        </div>
        <nav class="bottom_nav">
            <div class="nav_container bottom_nav_container">
                <ul>
                    <li><a href="#" target="_blank">영화</a></li>
                    <li><a href="#" target="_blank">이벤트</a></li>
                    <li><a href="#" target="_blank">이주의 영화</a></li>
                    <li><a href="#" target="_blank">커뮤니티</a></li>
                    <li><a href="#" target="_blank">관객 놀이터</a></li>
                </ul>
            </div>
        </nav>
    </header>
</html>