<!DOCTYPE html>
<html lang="en">
    <header class="header mb:6 color:base-10">
        <div class="top_nav">
            <div class="nav_container top_nav_container">
                <h1 class="logo"><a href="/index">영화의봄</a></h1>
                <div class="search_box">
                    <form action="">
                        <div class="search">
                            <input type="text" name="query" value="">
                            <button type="submit">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </form>
                    <a class="login_btn" href="/user/signin" rel="">
                        <i sec:authorize="isAnonymous()" class="icon icon:user"></i>
                    </a>
                    <a class="login_btn" href="/user/signout" rel="">
                        <i sec:authorize="isAuthenticated()" class="fa-solid fa-right-to-bracket"></i>
                    </a>
                    <div sec:authorize="isAuthenticated()">
                        <a sec:authentication="name" href="/user/main"></a>
                    </div>
                </div>
            </div>
        </div>
        <section class="media">
            <h1 class="d:none">게시판 리스트</h1>
            <nav class="d:flex n-tabbar">
                <div class="nav_container bottom_nav_container">
                    <div>
                        <ul class="n-tabbar jc:space-between">
                            <li class="active"><a href="/movie/list"><button>영화</button></a></li>
                            <li><button>이벤트</button></li>
                            <li><button>이주의 영화</button></li>
                            <li><a href="/community/main"><button>커뮤니티</button></a></li>
                            <li><button>관객놀이터</button></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </section>
        <div class="user-welcome">
            <p>00 감독님 반갑습니다.</p>
        </div>
        <section class="user-info-section">
            <h1 class="d:none">내 정보 리스트</h1>
            <nav>
                <ul>
                    <li>
                        <a href="mymovie">
                            <img class="svg-icon-slate" src="/image/icon/slate.svg" alt="">
                            <div>내 영화</div>
                        </a>
                    </li>
                    <li>
                        <a href="mybet">
                            <img src="/image/icon/bet.svg" alt="">
                            <div>내 배팅</div>
                        </a>
                    </li>
                    <li>
                        <a href="myboard">
                            <img src="/image/icon/tools.svg" alt="">
                            <div>내 게시물</div>
                        </a>
                    </li>
                    <li>
                        <a href="mycomment">
                            <img src="/image/icon/comment.svg" alt="">
                            <div>내 댓글</div>
                        </a>
                    </li>
                    <li>
                        <a href="myinfo">
                            <img src="/image/icon/myInfo.svg" alt="">
                            <div>내 정보</div>
                        </a>
                    </li>
                </ul>
            </nav>
        </section>
    </header>
</html>