<!DOCTYPE html>
<html lang="en">
<header class="header mb:6 color:base-10">
    <section>
        <div class="user-welcome">
            <div class="point-bar fw:500">
                <div>
                    <span sec:authentication="principal.name"></span>
                    <span class="text-align:start"> 감독님 반갑습니다.</span>
                </div>
                <div>
                    <span>내 누적 관객수 : </span>
                    <span th:text="${#numbers.formatInteger(#authentication.getPrincipal().getPoint(),3,'COMMA')}"></span>
                    <span>명</span>
                    <span class="icon icon:info">설명 아이콘</span>
                    <p class="n-item n-item-type:shadow p:2  color:base-6 ishover">'영화의봄'은 회원의 포인트를 관객수로 표현하고 있습니다,<br>천만영화의 꿈을 이뤄보세요!</p>
                </div>
            </div>
        </div>
        <section class="user-info-section">
            <h1 class="d:none">내 정보 리스트</h1>
            <nav>
                <ul>
                    <li>
                        <a href="mymovie">
                            <img class="svg-icon-slate" src="/image/icon/slate.svg" alt="">
                            <div>내 영화</div>
                        </a>
                    </li>
                    <li>
                        <a href="mybet">
                            <img src="/image/icon/bet.svg" alt="">
                            <div>내 배팅</div>
                        </a>
                    </li>
                    <li>
                        <a href="myboard">
                            <img src="/image/icon/tools.svg" alt="">
                            <div>내 게시물</div>
                        </a>
                    </li>
                    <li>
                        <a href="mycomment">
                            <img src="/image/icon/comment.svg" alt="">
                            <div>내 댓글</div>
                        </a>
                    </li>
                    <li>
                        <a href="myinfo">
                            <img src="/image/icon/myInfo.svg" alt="">
                            <div>내 정보</div>
                        </a>
                    </li>
                </ul>
            </nav>
        </section>
    </section>
</header>
</html>