<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="inc/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main layout:fragment="main">
        <!-- <div style="height: 300px; width: 100px; background-color: red ;"></div>
        </div> -->
        <section class="media color:base-10">
            <h1 class="d:none">게시판 리스트</h1>
            <nav class="d:flex n-tabbar">
                <div class="nav_container bottom_nav_container">
                    <div>
                        <ul class="n-tabbar jc:space-between">
                            <li class="active"><button>자유 게시글</button></li>
                            <li><button>인증 게시글</button></li>
                            <li><button>리뷰 게시글</button></li>
                            <li><button>자랑 게시글</button></li>
                            <li><button>인기 게시글</button></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </section>
        <section class="d:flex jc:space-around">
            <h1 class="d:none">게시판 메인</h1>
            <section style="width: 980px;" class="mw:10 mt:8">
                <h1 class="fw:bold fs:6 color:main-3 " th:text="${c.name+'게시판'}">인기글</h1>
                <table style="width: 100%;" class="mb:4 mt:4 table-layout:auto n-table n-table-border n-table-border-radius:3 fw:3">
                    <thead class="">
                        <tr class="jc:space-around">
                            <th class="">분류</th>
                            <th class="txt-al:center">제목</th>
                            <th class=" txt-al:center">작성자</th>
                            <th class="txt-al:center">조회</th>
                            <th class="txt-al:center">추천</th>
                            <th class=" txt-al:center">작성일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="g:${list}" >
                            <td>
                                <a th:href="@{detail(b=${g.id})}">
                                    <span class="d:inline-block icon-size bg-color:base-6 bd-radius:1 color:base-1 txt-al:center m-right:2 px:1" 
                                     th:text="${c.name}">제목</span>
                                </a>
                            </td>
                            <td class="txt-al:center" th:text="${g.title}">제목</td>
                            <td class="txt-al:center">3</td>
                            <td class="txt-al:center">4</td>
                            <td class="txt-al:center">5</td>
                            <td class="txt-al:center" th:text="${#dates.format(g.regDate, 'yyyy-MM-dd HH:mm:ss')}">6</td>
                        </tr>
                    </tbody>
                </table>
                <div class="d:flex jc:flex-end my:3">
                    <!-- th:href="@{reg(categoryId=${list.id})}" -->
                    <a href="reg">
                        <button class="n-btn box-shadow:1">게시글 작성</button>
                    </a>
                </div>
            </section>
        </section>
        </section>
    </main>
</body>

</html>