<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="inc/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.ckeditor.com/ckeditor5/41.3.1/classic/ckeditor.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/41.3.1/classic/translations/ko.js"></script>
<!--    <script src="/ckeditor/ckeditor.js"></script>-->
<!--    <script src="/ckeditor/translations/ko.js"></script>-->
    <script>
        window.addEventListener("load", function (e) {

                ClassicEditor.create( document.querySelector( '#editor' ), {

                language: "ko"
            } );

        })
    </script>
    <style>
        /*.ck-editor__editable {*/
        /*    height: 400px;*/
        /*}*/

        /*.ck-content {*/
        /*    font-size: 13px;*/
        /*}*/
        h1 {
            line-height: 40px;
            height: 40px;
        }
        .line-gap {
            margin-bottom: 100px;
        }
    </style>
</head>

<body>
    <main layout:fragment="main">
        <section class="color:base-10 mx:4 bd bd-radius:3">
            <h1 class="text-align:center bg-color:base-9 color:base-1 bd-tl-radius:2 bd-tr-radius:2">게시글 작성</h1>
            <form action="reg" method="post" class="mx:6">
                <div class="margin-top:2 line-gap">
                    <input class="n-textbox n-textbox-type:underline" type="text" name="title" placeholder="제목을 입력해주세요">
                    <input class="d:none" type="text" name="categoryName" th:value="${cName}">
                </div>
                <div>
                    <!--textarea 작성줄 길어져도 줄넘김해서 쓰지 말것 입력창에 공백생김-->
                    <textarea class="h:8" name="contents" id="editor" placeholder="내용을 입력해주세요"></textarea>
                </div>
                <div>
                    <input class="" name="img-file" type="file" multiple />
                </div>
                <div class="text-align:right">
                    <button type="submit" class="n-btn n-btn-color:main-1 n-btn-size:2">작성완료</button>
                </div>
            </form>
        </section>
    </main>
</body>

</html>