main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*max-width: 700px;*/
}
.test{
    max-width: 1320px;
    padding: 8px;
    overflow: hidden;
}

.main-img-block{
    display: flex;
    flex-wrap: nowrap;
}

.main-img-block img{
    width: 100%;
}

.section-margin{
    margin-top: 60px;
    > h1{
        margin-bottom: 20px;
    }
}

.ttr{
    background-color: rgb(242, 242, 242);
}


.actor {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    font-size: 15px;
    font-weight: bold;
}

.actor img{
    margin-right: 8px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* 이미지가 박스에 꽉 차도록 설정 */
}

.actor li{
    display: flex;
    align-items: center;
    margin-right: 12px;
    margin-bottom: 8px;
    height: 80px;
}

.actor div{
    display: flex;
    flex-direction: column;
}

.actor div span{
    font-size: 12px;
    color: rgb(154, 154, 154);
    text-align: center;
}
.avg-block{
    /*width: 100%;*/
}

/*폰트설정*/
.title-font{
    font-size: 36px;
}

.section-font{
    font-size: 24px;
}

.input-container input::placeholder{
    font-size: 15px;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Media Queries*/
@media (min-width: 1068px) {
    test{
        max-width: 900px;
    }

    .main-img-block{
        width: 900px;

        img{
            width:100%;
        }
    }

    .actor {
        display: grid; 
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        column-gap: 80px; /* 각 항목 사이의 간격 조절 */
        font-size: 15px;
        font-weight: bold;
        margin-left: 40px;
    }

    .img-block img{
        width: 33%;
        height: 33%;
    }
    .content{
        overflow: hidden;
    }
    .toggle-on{
    height: 1;
    transform: height 1s ease;

    }
    .toggle-off{
        height: 0;
    }
}