/* .test{
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    max-width: 980px;
    margin-top: 115px;
    border-radius: 30px;
} */
.aa{
    background-color: #ffffff;
    border: 1px hidden #000;
    border-radius: 9999px;

}

.left-div{
    z-index: 1;
    height: 360px;
    width: 1px;
}
.right-div{
    z-index: 1;
    height: 360px;
    width: 1px;

}
.scr-btn-left{
    position: absolute;
}
.scr-btn-left{
    position: absolute;
}

  /* 크로스 브라우저 스크롤바 스타일링 */
/* Webkit */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Firefox */
/* Firefox에서는 scrollbar-thumb에 대한 스타일링이 별도로 필요합니다. */
/* Firefox 스크롤바의 색상을 변경 */
* {
    scrollbar-color: #ffffff #ffffff; /* 색상, 배경 색상 */
}

/* Firefox 스크롤바 썸네일의 모양 변경 */
* {
    scrollbar-width:thin;
}

