<!DOCTYPE html>
<html lang="en" 
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="inc/layout"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/components/user/finduser.css">
    <style>
        main nav .deco:first-child{
            color: #ADB5BD;
        }

        main nav .deco:last-child{
            color: #54644A;
        }
    </style>
</head>
<body>
    <main layout:fragment="main">
        <nav>
            <h1 class="d:none">아이디 비밀번호 찾기</h1>
            <div>
                <a class="deco deco-size:3 icon:student icon-color:base-5" href="findId">아이디 찾기</a>
                <a class="deco deco-size:3 icon:gear_six icon-color:main-3" href="findPwd">비밀번호 찾기</a>
            </div>
        </nav>
        <section class="find-block">
            <div class="head">
                <h1>비밀번호 찾기</h1>
            </div>
            <form action="changePwdResult">
                <div class="fs:5">
                    변경할 비밀번호를 입력해주세요.
                </div>
                <label for="">비밀번호</label>
                <input type="text">
                <label for="">비밀번호 확인</label>
                <input type="text">
                <div class="mt:2 inputcert">
                    <button type="submit">확인</button>
                </div>
            </form>
        </section>
    </main>
</body>
</html>