<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="inc/userlayout"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/components/user/mybet.css">
    <style>
        .user-info-section ul li:nth-child(2){
            color: green;
            border-bottom: solid 2px green;
        }
    </style>
</head>
<body>
    <main layout:fragment="main">
        <h1>내가 배팅한 영화</h1>
        <section class="bet-list">
            
        </section>
    </main>
</body>
</html>