<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="inc/userlayout"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/components/user/mycomment.css">
    <style>
        .user-info-section ul li:nth-child(4){
            color: green;
            border-bottom: solid 2px green;
        }
        main>h1{
            font-size: 25px;
        }
    </style>
</head>
<body>
    <main layout:fragment="main">
        <h1>내 댓글</h1>
        <ul class="comment-list fw:3">
            <li class="bd-bottom border-width:2 pb:2 mb:2">
                <span class="fs:2">작성일: <span >2024.02.08</span></span>
                <div class="mt:2">
                    <span class="fs:5">서울의봄 재밌다</span>
                </div>
                <div class="mt:2">
                    <span class="deco icon:chat_circle_text">웹 퍼블리싱 테스트</span>
                </div>
            </li>
        </ul>
    </main>
</body>
</html>