<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="inc/userlayout"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/components/user/mycomment.css">
    <style>
        .user-info-section ul li:nth-child(4){
            color: green;
            border-bottom: solid 2px green;
        }
        main>h1{
            font-size: 25px;
        }

        .icon\:share_fat_fill{
            transform: scaleY(-1) translateY(+3px);
        }
    </style>
</head>
<body>
    <main layout:fragment="main">
        <h1>내 댓글</h1>
        <ul class="comment-list fw:3">
            <li th:each="menu:${cbclist}" class="bd-bottom border-width:2 pb:2 mb:2">
                <div class="mt:2">
                    <a th:href="'/community/board/detail?c=' + ${clist.get(menu.communityBoardCategoryId-1).engName} + '&amp;id=' + ${menu.communityBoardId}" th:text="${menu.communityBoardTitle}" class="fs:5">서울의봄 재밌다</a>
                    <span class="fw:2 color:base-7" th:text="'('+${clist.get(menu.communityBoardCategoryId-1).name}+' 게시판)'"></span>
                </div>
                <div class="mt:2 d:flex ai:center ml:5">
                    <span class="icon icon:share_fat_fill"></span><span th:text="${menu.contents}" class="ml:2">댓글 내용이 들어갈 위치입니다.</span>
                    <span th:text="${menu.regDate}" class="fs:2 fw:2 color:base-5 ml:3">2024.02.08</span>
                </div>
            </li>
        </ul>
    </main>
</body>
</html>