<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="inc/userlayout"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .user-info-section ul li:nth-child(5){
            color: green;
            border-bottom: solid 2px green;
        }
    </style>
</head>
<body>
    <main layout:fragment="main"></main>
</body>
</html>