<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="inc/userlayout"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/components/user/mymovie.css">
    <style>
        .user-info-section ul li:nth-child(1){
            color: green;
            border-bottom: solid 2px green;
        }
    </style>
</head>
<body>
    <main layout:fragment="main">
        <h1>내 영화</h1>
        <section class="movie-list">
            <h1 class="d:none">내 영화 리스트</h1>
            <ul>
                <li th:each="menu:${list}">
                    <section>
                        <h1 class="d:none">내 영화 정보</h1>
                        <div class="movie-info">
                            <img th:src="${menu.url}" alt="" style="width: 150px; height: 200px; background-color: aquamarine;">
                            <span>12000원</span>
                            <span th:text="${menu.title}">서울의봄</span>
                        </div>
                        <article class="w:10p">
                            <div class="bd-bottom border-width:2 fs:7 mb:2 pb:1">평점: <span th:text="${menu.memberRate}">30000</span>원</div>
                            <div class="fs:7 mb:1">COMMENT</div>
                            <p th:text="${menu.comments}">전장군님 나라를 이끌어주셈여</p>
                        </article>
                    </section>
                </li>
            </ul>
        </section>
    </main>
</body>
</html>