<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="inc/userlayout"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/components/user/main.css">
</head>
<body>
    <main layout:fragment="main">
        <section class="activity-listbox">
            <h1 class="d:none">내 활동내역</h1>
            <div class="activity-point">
                <h1>내 관객수</h1>
                <span>10,000,000명</span>
            </div>
            <nav>
                <ul>
                    <li>
                        <div>
                            <span>내가 평가한 영화</span>
                            <span th:text="${orCnt}">13개</span>
                        </div>
                        <a href="mymovie">바로가기</a>
                    </li>
                    <li>
                        <div>
                            <span>내가 배팅한 영화</span>
                            <span th:text="${pgCnt}">5개</span>
                        </div>
                        <a href="mybet">바로가기</a>
                    </li>
                    <li>
                        <div>
                            <span>내 게시물</span>
                            <span th:text="${cbCnt}">5개</span>
                        </div>
                        <a href="myboard">바로가기</a>
                    </li>
                    <li>
                        <div>
                            <span>내 댓글</span>
                            <span th:text="${cbcCnt}">18개</span>
                        </div>
                        <a href="mycomment">바로가기</a>
                    </li>
                </ul>
            </nav>
        </section>
    </main>
</body>
</html>