<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/layout">

<head>
    <meta charset="UTF-8"/>
    <title>로그인 - 영화의봄</title>
    <style>
        .main {
            padding: 100px 0;
        }

        .n-form {
            display: flex;
            flex-direction: column;
        }

        .n-form fieldset {
            max-width: 400px;
        }

        .n-form fieldset div label {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
        }

        .n-form fieldset div label input {
            max-width: 300px;
        }

    </style>
</head>

<body>
<main layout:fragment="main" class="media">
    <section class="media-sect">
        <div class="d:flex jc:center main">
            <section class="padding-x:7" style="width: 500px">
                <!-- 뉴틸 max-w 왜 안먹힘? -->
                <div class="d:flex flex-direction:row">
                    <h1 class="fw:bold fs:8 bd-bottom bd-w:2 bd-color:base-10 color:base-10 display:inline-block">
                        로그인
                    </h1>
                    <span class="flex-grow:1 bd-bottom bd-w:2"></span>
                </div>
                <section th:if="${param.error ne null}">
                    <h1 class="n-font:h3 font-weight:3"></h1>
                    <div class="mt:8 text-a:center">
                        아이디나 비밀번호가 일치하지 않습니다.
                    </div>
                </section>
                <!-- <div th:if="${param.error ne null}">아이디나 비밀번호가 일치하지 않습니다.</div> -->
                <form action="signin" method="post" class="n-form bp:n-field-label:left box-shadow:3 bd-color:base-1">
                    <fieldset>
                        <legend class="d:none">인증정보</legend>
                        <div>
                            <label class="">
                                <span class="fw:bold color:base-10">아이디</span>
                                <input type="text" name="username" placeholder="아이디" autofocus/>
                            </label>
                        </div>
                        <div>
                            <label class="mt:3">
                                <span class="fw:bold color:base-10">비밀번호</span>
                                <input type="password" name="password" placeholder="비밀번호"/>
                            </label>
                        </div>
                    </fieldset>
                    <div class="mt:5">
                        <button class="n-btn" type="submit">로그인</button>
                        <span class="w:100p d:inline-flex justify-content:center mt:1 fw:1 color:base-10 fs:2">또는</span>
                        <a class="n-btn n-btn:outline w:100p mt:1" href="">
                <span class="w:100p d:inline-flex justify-content:center gap:2 mr:5">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18"><path
                      fill="#4285F4"
                      d="M17.785 9.169c0-.738-.06-1.276-.189-1.834h-8.42v3.328h4.942c-.1.828-.638 2.073-1.834 2.91l-.016.112 2.662 2.063.185.018c1.694-1.565 2.67-3.867 2.67-6.597z"></path><path
                      fill="#34A853"
                      d="M9.175 17.938c2.422 0 4.455-.797 5.94-2.172l-2.83-2.193c-.758.528-1.774.897-3.11.897-2.372 0-4.385-1.564-5.102-3.727l-.105.01-2.769 2.142-.036.1c1.475 2.93 4.504 4.943 8.012 4.943z"></path><path
                      fill="#FBBC05"
                      d="M4.073 10.743c-.19-.558-.3-1.156-.3-1.774 0-.618.11-1.216.29-1.774l-.005-.119L1.254 4.9l-.091.044C.555 6.159.206 7.524.206 8.969c0 1.445.349 2.81.957 4.026l2.91-2.252z"></path><path
                      fill="#EB4335"
                      d="M9.175 3.468c1.684 0 2.82.728 3.468 1.335l2.531-2.471C13.62.887 11.598 0 9.175 0 5.667 0 2.638 2.013 1.163 4.943l2.9 2.252c.727-2.162 2.74-3.727 5.112-3.727z"></path>
              </svg>
                  <span class="color:base-10">구글 로그인</span>
                </span></a>
                    </div>
                    <div class="fw:1 mt:5 d:flex fl-dir:row justify-content:center gap:5 color:base-10 fs:2">
                        <a href="findid">아이디 찾기</a>
                        <a href="findpwd">비밀번호 찾기</a>
                        <a href="signup">회원가입</a>
                    </div>
                </form>
            </section>
        </div>
    </section>
</main>
</body>

</html>