<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>documents</title>
    <link rel="stylesheet" type="text/css" href="/css/desktop.css" />
    <script src="/js/movie/list.js" defer></script>
    <link rel="stylesheet" href="/css/components/movie/list.css">
    <style>
        .icon-size {
            width: 28px;
            height: 28px;
        }
        .icon-position {
            bottom:8px;
            left:4px;
            z-index: 1;
        }
        .line-height {
            line-height: 28px;
        }
    </style>
</head>
 <style>
    .scrable-content {
    width: 300px; /* 스크롤 가능한 컨테이너의 너비 */
    overflow-x: auto; /* 가로 스크롤바가 필요할 때만 표시되도록 함 */
    scroll-behavior: smooth; /* 스크롤이 부드럽게 이동하도록 함 */
    }
</style>
<body>
    <main layout:fragment="main">
    <section class="main-header">
        <section class="media color:base-10">
        <section class="media-sect overflow:hidden mx:10">
        <div style="display: none;"></div>
        <section class="m-top:4 m-bottom:10">
<!--            //FIXME: 2024-04-22, 월, 0:5 좌,우측 넘김 버튼 사이의 수평공간 클릭 불가함 -JOON-->
            <div class="test">
                <div class="aa">
                    <button class="n-btn n-btn-type:outline n-btn-size:3 bd bd-radius:full box-shadow:1 scr-btn-left icon:arrow_left"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M228,128a12,12,0,0,1-12,12H69l51.52,51.51a12,12,0,0,1-17,17l-72-72a12,12,0,0,1,0-17l72-72a12,12,0,0,1,17,17L69,116H216A12,12,0,0,1,228,128Z"></path></svg></button>
                </div>
                <div class="aa">
                    <button class="n-btn n-btn-type:outline n-btn-size:3 bd bd-radius:full box-shadow:1 scr-btn-right icon:arrow_right" ><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M224.49,136.49l-72,72a12,12,0,0,1-17-17L187,140H40a12,12,0,0,1,0-24H187L135.51,64.48a12,12,0,0,1,17-17l72,72A12,12,0,0,1,224.49,136.49Z"></path></svg></button>
                </div>
            </div>
            <h1 class="d:none">영화목록</h1>
            <section class="d:flex jc:space-between m-bottom:3">
                <h1 class=" fs:6 fw:3 ">현재 상영작</h1>
                <ul class="d:flex fs:1 ai:center jc:space-between p-right:1 fs:2 fw:bold color:base-6">
                    <li class="p-right:3">
                        <a href="" class="fs:3 color:base-10">박스오피스 순위</a>
                    </li>
                    <li class="p-right:3">
                        <a href="">전날 관객 순위</a>
                    </li>
                    
                    <li class="">
                        <a href="" >평점 순위</a>
                    </li>
                </ul>
            </section>
            <!-- 여기 바로밑에 of:scroll추가하고 스크롤 스타일 없애면 스크롤,스와이프로 가려진 목록 볼수있음 -->
            <section class="p-left:3 d:flex media-pading of:scroll of-y:hidden scrable-content">
                <h1 class="d:none ">컨텐츠</h1>
                <div th:each="m,mCount : ${list}" class="media-pading bd d:inline-block bd-radius:2 bd-color:base-1 p-right:3">
                    <div class="position:relative display:inline-block bd-color:base-10 ">
                        <a href="detail" th:href="@{detail(movieid=${m.id})}"><img class="bd-radius:1"
                        src=""
                            th:src="${m.getPosterUrl()}" alt="/" height="363px" ></a>
                        <span class="position:absolute icon-position d:inline-block icon-size bg-color:base-8 bd-radius:1 color:base-1 txt-al:center line-height fw:bold" th:text="${mCount.count}">1</span>
                    </div>
                    <div class="d:flex fl-dir:column gap:2 d:inline-block mt:2">
                        <div class="d:flex">
                            <span class="fs:3 fw:2 d:inline-block mr:auto"
                            th:text="${m.getKorName()}">서울의 봄</span>
                            <span class="fs:3 fw:600 d:inline-block">13000원 </span>
                        </div>
                        <div>2024  ·  한국</div>
                        <div class="fs:2 color:base-6">누적 관객수 100만명</div>
                    </div>
                </div>
            </section>
        </section>
 
        <section class="m-left:3 m-top:4 m-bottom:10 of:scroll of-y:hidden">
            <h1 class="d:none">영화목록</h1>
            <section class="d:flex jc:space-between m-bottom:3">
                <h1 class=" fs:6 fw:3">개봉 예정작</h1>
                <ul class="d:flex fs:1 ai:center jc:space-between p-right:1 fs:2 fw:bold color:base-6">
                    <li>
                        <a href="" class="p-right:3 fs:3 color:base-10">개봉 날짜순</a>
                    </li>
                    <li>
                        <a href="" class="">예매율순</a>
                    </li>
                </ul>
            </section>
            <section class=" d:flex media-pading">
                <h1 class="d:none ">컨텐츠</h1>
                <div th:each="m,mCount : ${list}" class="media-pading bd d:inline-block bd-radius:2 bd-color:base-1 p-right:3">
                    <div class="display:inline-block bd-color:base-10 ">
                        <img class="bd-radius:1 bd-color:base-10 line-height:1 box-shadow:1"
                             src="#"
                             th:src="${m.getPosterUrl()}" alt="/" height="363px">
                    </div>
                    <div class="d:flex ai:center d:inline-block line-height:1">
                        <span class="fs:8 fw:3 line-height:1 font-style:italic" th:text="${mCount.count}">1</span>
                        <div  class="m-left:4 d:inline-block line-height:1">
                            <div>
                                <span class="fs:2 fw:3 d:inline-block"
                                      >13000원 </span>
                            </div>
                            <div>
                                <span class="fs:3 fw:2 d:inline-block"
                                      th:text="${m.getKorName()}">서울의 봄</span>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </section>

        <section class="m-left:3 m-top:4 m-bottom:10 of:scroll of-y:hidden">
            <h1 class="d:none ">영화목록</h1>
            <section class="d:flex jc:space-between m-bottom:3">
                <h1 class=" fs:6 fw:3">올해의 영화</h1>
                <ul class="d:flex fs:1 ai:center jc:space-between p-right:1 fs:2 fw:bold color:base-6">
                    <li>
                        <a href="" class="p-right:3 fs:3 color:base-10">박스오피스 순위</a>
                    </li>
                    <li>
                        <a href="" class="p-right:3">전날 관객 순위</a>
                    </li>
                    
                    <li>
                        <a href="">평점 순위</a>
                    </li>
                </ul>
            </section>
            <section class=" d:flex media-pading">
                <h1 class="d:none ">컨텐츠</h1>
                <div th:each="m,mCount : ${list}" class="media-pading bd d:inline-block bd-radius:2 bd-color:base-1 p-right:3">
                    <div class="display:inline-block bd-color:base-10 ">
                        <img class="bd-radius:1 bd-color:base-10 line-height:1 box-shadow:1"
                             src="#"
                             th:src="${m.getPosterUrl()}" alt="/" height="363px">
                    </div>
                    <div class="d:flex ai:center d:inline-block line-height:1">
                        <span class="fs:8 fw:3 line-height:1 font-style:italic" th:text="${mCount.count}">1</span>
                        <div  class="m-left:4 d:inline-block line-height:1">
                            <div>
                                <span class="fs:2 fw:3 d:inline-block"
                                      >13000원 </span>
                            </div>
                            <div>
                                <span class="fs:3 fw:2 d:inline-block"
                                      th:text="${m.getKorName()}">서울의 봄</span>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </section>
        </section>
    </section>
</section>
</main>
</body>
</html>