<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>이거 나오면 일단 성공</h1>
<section th:each="m : ${list}">
    <div th:text="${m.movieCd}">1</div>
    <div th:text="${m.movieNm}">2</div>
    <div th:text="${m.openDt}">3</div>
    <div th:text="${m.salesAmt}">4</div>
    <div th:text="${m.audiCnt}">5</div>
    <div th:text="${m.audiAcc}">6</div>


</section>

</body>
</html>