<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>moviespring main page</title>
    <!-- 뉴틸 -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/newtil-css@0.1.49/dist/style.css" />
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Diphylleia&family=IBM+Plex+Sans+KR&family=Noto+Sans+KR:wght@100..900&display=swap"
        rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/sub.css">
    <!-- icon -->
    <script src="https://kit.fontawesome.com/cb7051596d.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="wrap">
        <!-- header -->
        <header class="header">
            <div class="top_nav">
                <div class="nav_container top_nav_container">
                    <h1 class="logo">영화의봄</h1>
                    <div class="search_box">
                        <form action="">
                            <div class="search">
                                <input type="text" name="query" value="">
                                <button type="submit">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </div>
                        </form>
                        <a class="login_btn" href="#" rel="">
                            <i class="fa-solid fa-right-to-bracket"></i>
                        </a>
                    </div>
                </div>
            </div>
            <nav class="bottom_nav">
                <div class="nav_container bottom_nav_container">
                    <ul>
                        <li><a href="#" target="_blank">영화</a></li>
                        <li><a href="#" target="_blank">이벤트</a></li>
                        <li><a href="#" target="_blank">이주의 영화</a></li>
                        <li><a href="#" target="_blank">커뮤니티</a></li>
                        <li><a href="#" target="_blank">관객 놀이터</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- main -->
        <main class="main">
            <div class="d:flex flex-direction:column container gap:5 mt:5">
                <div class="d:flex gap:5">
                <div>
                    <img src="https://i.namu.wiki/i/y4KFt0ysuURf9XfTQFQONTqLMYXAX3w0Kauenq6wxjiDJaE-6ePOnSPR9E0DvJgD7X_uEPrjWlPo6ZA01YWnsxwscN9U9Atc8uf973nycoQxaTfqJNn8_a2KzRqnodDU2j0qlm5w9jIiWgDadqO-Kw.webp" 
                    class="bd-radius:3" alt="" width="200" height="200">
                </div>
                <div class="d:flex flex-direction:column gap:5">
                <p class="fs:8">김성수</p>
                <p class="fs:5 color:base-6">대한민국의 감독,작가</p>
                </div>
                </div>

                <div class="h:1 bd-left bd-color:main-3 bd-w:3">
                    <p class="fs:8 fw:bold ml:2">필모그래피</p>
                </div>

                <div class="h:1 d:flex bd-top bd-bottom bd-color:color:base-6 bd-w:2 ai:center gap:10">
                    <div class="fs:6 w:2 ml:2">개봉</div>
                    <div class="fs:6 w:10">제목</div>
                    <div class="fs:6 w:2 txt-al:center">역할</div>
                    <div class="fs:6 w:2 txt-al:center">평가</div>
                </div>

                <div class="h:4 d:flex bd-top bd-bottom bd-color:color:base-6 bd-w:2 ai:center gap:10">
                    <div class="fs:6 w:2 ml:2">
                    <div><p>2023</p></div>
                    </div>
                    <div class="d:flex fs:6 w:10 ai:center gap:3">
                    <div><img src="https://search.pstatic.net/common?quality=75&direct=true&src=https%3A%2F%2Fmovie-phinf.pstatic.net%2F20231108_128%2F1699411327204OxmAK_JPEG%2Fmovie_image.jpg"
                    alt="" width="180" height="180"></div>
                    <div><p>서울의 봄</p></div>
                    </div>
                    <div class="fs:6 w:2 txt-al:center"><p>감독,주연,조연</p></div>
                    <div class="fs:6 w:2 txt-al:center"><p>20000원</p></div>
                </div>

                <div class="h:4 d:flex bd-top bd-bottom bd-color:color:base-6 bd-w:2 ai:center gap:10">
                    <div class="fs:6 w:2 ml:2">
                    <div><p>2023</p></div>
                    </div>
                    <div class="d:flex fs:6 w:10 ai:center gap:3">
                    <div><img src="https://search.pstatic.net/common?quality=75&direct=true&src=https%3A%2F%2Fmovie-phinf.pstatic.net%2F20231108_128%2F1699411327204OxmAK_JPEG%2Fmovie_image.jpg"
                    alt="" width="180" height="180"></div>
                    <div><p>서울의 봄</p></div>
                    </div>
                    <div class="fs:6 w:2 txt-al:center"><p>감독,주연,조연</p></div>
                    <div class="fs:6 w:2 txt-al:center"><p>20000원</p></div>
                </div>

                <div class="h:4 d:flex bd-top bd-bottom bd-color:color:base-6 bd-w:2 ai:center gap:10">
                    <div class="fs:6 w:2 ml:2">
                    <div><p>2023</p></div>
                    </div>
                    <div class="d:flex fs:6 w:10 ai:center gap:3">
                    <div><img src="https://search.pstatic.net/common?quality=75&direct=true&src=https%3A%2F%2Fmovie-phinf.pstatic.net%2F20231108_128%2F1699411327204OxmAK_JPEG%2Fmovie_image.jpg"
                    alt="" width="180" height="180"></div>
                    <div><p>서울의 봄</p></div>
                    </div>
                    <div class="fs:6 w:2 txt-al:center"><p>감독,주연,조연</p></div>
                    <div class="fs:6 w:2 txt-al:center"><p>20000원</p></div>
                </div>

           

            </div>
        </main>
        <!-- footer -->
        <footer class="footer">
            <div class="footer_container">
                <ul>
                    <li>
                        연락처 : 010-1234-5678
                    </li>
                    <li>
                        Copyright ©2024 Moviespring Inc. 모든 권리 보유.
                    </li>
                </ul>
            </div>
        </footer>

    </div>
</body>

</html>