<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="inc/adminlayout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .main-container {
            width: 980px; margin: 0 auto; 
            height: 100%;
        }   
    </style>
</head>
<body>
    <main layout:fragment="main">
        <section class="main-container">
            <h1>2주의영화 후보를 등록해주세요.</h1>
            <section>
            <form action="" method="post">
                <div>
                    <select name="" id="">
                        <option value="y=?">연도</option>
                        <option value="j=?">장르</option>
                        <option value="fd=-?">영화사</option>
                    </select>
                    <input type="text" name="" id="">
                </div>
                <div>
                    <button class="n-btn">등록</button>
                </div>
            </form>
        </section>
    </section>
    </main>
</body>
</html>