/* movie/list 반응형 */
@media only screen and (min-width: 840px){
    /* 중간 크기 화면용 스타일 작성 */
    .main-header{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    
    }

    .media{
        display: flex;
        justify-content: center;
        width: 100%;
        overflow: hidden;
    }
    
    .media-sect{
        width: 100%;
        max-width: 980px;
        justify-content:  space-around;
        margin:60px;
            
    }

    .content-list{

        /*padding-right: 30px;*/
    }

    .media-pading{
        gap: 32px;
    }
}
/* movie/detail 반응형 */
@media only screen and (max-width: 840px){

.media-mobile{
    width: 100%;
    justify-content: center;
    margin:20px;
}  


}