/* movie/list 반응형 */
@media only screen and (min-width: 840px){
    /* 중간 크기 화면용 스타일 작성 */
    .main-header{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; //가로 드래그 숨김설정
    }

    .media{
        max-width: 100%;
        overflow: hidden;
    }

    .content-list{

        /*padding-right: 30px;*/
    }

    .media-pading{
        gap: 32px;
    }
}
/* movie/detail 반응형 */