<!DOCTYPE html>
<html lang="en" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="inc/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 - 영화의봄</title>
    <style>
        .section-padding {
            padding: 100px 0;
            position: relative;
            top: 100px;
        }
    </style>
</head>
<body>
    <main layout:fragment="main">
        <section class="section-padding d:flex flex-direction:column ai:center gap:5">
            <div><img src="/image/bad.png" alt="" width="250"></div>
            <div class="fs:6 fw:bold">이용이 정지된 회원입니다</div>
            <div>
                <a href="/" class="n-btn n-btn-color:base">메인페이지로</a>
            </div>
        </section>
    </main>
</body>
</html>