<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="inc/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/css/desktop.css" />
    <script src="/js/movie/list.js" defer></script>
    <link rel="stylesheet" href="/css/components/movie/list.css">
    <style>
        .icon-size {
            width: 28px;
            height: 28px;
        }
        .icon-position {
            bottom:8px;
            left:4px;
            z-index: 1;
        }
        .line-height {
            line-height: 28px;
        }
    </style>
</head>
<body>
    <main layout:fragment="main">
        <!-- 미디어로 가운데로 값주기-->
        <section>
            <h1 class="d:none">메인페이지 대문</h1>
            <iframe class="bd-radius:3"
                    width="100%" height="700"
                    src="https://www.youtube.com/embed/-AZ7cnwn2YI"
                    frameborder="0" allowfullscreen>
            </iframe>
        </section>
        <section class="media">
            <h1 class="d:none">메인페이지 컨텐츠</h1>
            <div class="media-sect
            d:flex flex-direction:column
            overflow:hidden">

                <!-- 현재 상영작(list에서 받아옴.) -->
            <section class="m-left:3 mr:3 m-top:4 m-bottom:10">
                <h1 class="d:none">영화목록</h1>
                <section class="d:flex jc:space-between m-bottom:3">
                    <h1 class=" fs:6 fw:3 ">현재 상영작</h1>
                    <ul class="d:flex fs:1 ai:center jc:space-between p-right:1 fs:2 fw:bold color:base-6">
                        <li class="p-right:3">
                            <a href="" class="fs:3 color:base-10">박스오피스 순위</a>
                        </li>
                        <li class="p-right:3">
                            <a href="">전날 관객 순위</a>
                        </li>

                        <li class="">
                            <a href="" >평점 순위</a>
                        </li>
                    </ul>
                </section>
                <!-- 여기 바로밑에 of:scroll추가하고 스크롤 스타일 없애면 스크롤,스와이프로 가려진 목록 볼수있음 -->
                <section class="d:flex media-pading of:scroll of-y:hidden scrable-content">
                    <h1 class="d:none ">컨텐츠</h1>
                    <div th:each="m,mCount : ${list}" class="media-pading bd d:inline-block bd-radius:2 bd-color:base-1 p-right:3">
                        <div class="position:relative display:inline-block bd-color:base-10 ">
                            <a href="detail" th:href="@{movie/detail(movieid=${m.id})}"><img class="bd-radius:1"
                                                                                       src=""
                                                                                       th:src="${m.getPosterUrl()}" alt="/" height="363px" ></a>
                            <span class="position:absolute icon-position d:inline-block icon-size bg-color:base-8 bd-radius:1 color:base-1 txt-al:center line-height fw:bold" th:text="${mCount.count}">1</span>
                        </div>
                        <div class="d:flex fl-dir:column gap:2 d:inline-block mt:2">
                            <div class="d:flex">
                            <span class="fs:3 fw:2 d:inline-block mr:auto"
                                  th:text="${m.getKorName()}">서울의 봄</span>
                                <span class="fs:3 fw:600 d:inline-block">13000원 </span>
                            </div>
                            <div th:text="${#dates.format(m.releaseDate, 'yyyy')} +' · '+ ${m.releaseNation} +' · '+ ${m.genre}">2024  ·  한국</div>
                            <div class="fs:2 color:base-6">누적 관객수 100만명</div>
                        </div>
                    </div>
                </section>
                </section>
                <!-- 개봉 예정작(list에서 받아옴.) -->
                <section class="m-left:3 mr:3 m-top:4 m-bottom:10 of:scroll of-y:hidden">
                    <h1 class="d:none">영화목록</h1>
                    <section class="d:flex jc:space-between m-bottom:3">
                        <h1 class=" fs:6 fw:3">개봉 예정작</h1>
                        <ul class="d:flex fs:1 ai:center jc:space-between p-right:1 fs:2 fw:bold color:base-6">
                            <li>
                                <a href="" class="p-right:3 fs:3 color:base-10">개봉 날짜순</a>
                            </li>
                            <li>
                                <a href="" class="">예매율순</a>
                            </li>
                        </ul>
                    </section>
                    <section class="d:flex media-pading of:scroll of-y:hidden scrable-content">
                        <h1 class="d:none ">컨텐츠</h1>
                        <div th:each="m,mCount : ${list}" class="media-pading bd d:inline-block bd-radius:2 bd-color:base-1 p-right:3">
                            <div class="position:relative display:inline-block bd-color:base-10 ">
                                <a href="detail" th:href="@{movie/detail(movieid=${m.id})}"><img class="bd-radius:1"
                                                                                           src=""
                                                                                           th:src="${m.getPosterUrl()}" alt="/" height="363px" ></a>
                                <span class="position:absolute icon-position d:inline-block icon-size bg-color:base-8 bd-radius:1 color:base-1 txt-al:center line-height fw:bold" th:text="${mCount.count}">1</span>
                            </div>
                            <div class="d:flex fl-dir:column gap:2 d:inline-block mt:2">
                                <div class="d:flex">
                            <span class="fs:3 fw:2 d:inline-block mr:auto"
                                  th:text="${m.getKorName()}">서울의 봄</span>
                                    <span class="fs:3 fw:600 d:inline-block">13000원 </span>
                                </div>
                                <div th:text="${#dates.format(m.releaseDate, 'yyyy')} +' · '+ ${m.releaseNation} +' · '+ ${m.genre}">2024  ·  한국</div>
                                <div class="fs:2 color:base-6">누적 관객수 100만명</div>
                            </div>
                        </div>
                    </section>
                </section>

                <!-- 태평: 테스트 나중에 지울거임 -->
                <div>
                    <a class="" type="button" href="test">movie3 중 1개 가져와서 테스트 곧 지울거임</a>
                </div>

                <!-- 2주의 영화 파트 -->
                <section>
                    <h1 class="d:none">2주의 영화</h1>
                <div class="d:flex ai:center ac:center gap:2 mb:5">
                    <span class="icon icon:trophy icon-size:5">트로피</span>
                    <span class=" fs:5 fw:3">2주의 영화 </span>
                    <span class="icon icon:trophy icon-size:5">트로피</span>
                </div>
                <!-- 전체 틀 -->
                <div class="d:flex flex-direction:row gap:3">
                    <!-- 왼쪽 포스터 부분 -->
                    <div class="twoweek-movie-left d:flex flex-direction:column text-align:center">
                        <div>
                        <img src="https://search.pstatic.net/common?quality=75&direct=true&src=https%3A%2F%2Fmovie-phinf.pstatic.net%2F20240404_36%2F1712216009593oVdA5_JPEG%2Fmovie_image.jpg"
                         width="200px" height="300px" alt="">
                        </div>
                         <div class=" fs:5 fw:3">20000원</div>
                         <div class=" fs:5 fw:3">쇼생크 탈출</div>

                    </div>
                    <!-- 오른쪽 한줄 평 부분 -->
                    <div class="twoweek-movie-right d:flex flex-direction:column
                    gap:2 mt:5 mb:5">
                        <div class=" text-align:center fs:5 fw:bold mb:5">한줄평</div>

                        <div>
                        
                        <div class=" deco icon:user">이승환: 쇼생크 탈출은 꼭 봐야재봐야재봐야재봐야재봐야재봐야재봐야재~</div>
                        </div>

                        <div>
                            <div class=" deco icon:user">이승환: 쇼생크 탈출은 꼭 봐야재봐야재봐야재봐야재봐야재봐야재봐야재~</div>
                        </div>

                        <div>
                            <div class=" deco icon:user">이승환: 쇼생크 탈출은 꼭 봐야재봐야재봐야재봐야재봐야재봐야재봐야재~</div>
                        </div>

                        <div>
                            <div class=" deco icon:user">이승환: 쇼생크 탈출은 꼭 봐야재봐야재봐야재봐야재봐야재봐야재봐야재~</div>
                        </div>

                        <div>
                            <div class=" deco icon:user">이승환: 쇼생크 탈출은 꼭 봐야재봐야재봐야재봐야재봐야재봐야재봐야재~</div>
                        </div>

                        <div class="user-comment align-content:end">
                            <form action="/submit_comment" method="post">
                                <div class="d:flex flex-direction:row gap:2 text-align:center ai:center">
                                    <div class="deco icon:user">박준순:</div>
                                    <div class="flex-grow:1">
                                        <input class="bg-color:base-6 w:10p" type="text" name="comment" placeholder="댓글을 입력하세요." />
                                    </div>
                                    <button type="button" class="n-btn">입력</button>
                                </div>
                            </form>
                        </div>
                        
                        
                        


                </div>

                </section>

            <section class="d:flex gap:5 mt:5 mb:5">
                <h1 class="d:none">이벤트 및 커뮤니티</h1>

                <!-- 이벤트 -->
                <div class="fl:fill mb:5">
                    <div class="d:flex ac:center">
                        <h1 class="fs:5 fw:3 flex-grow:1 mb:3">EVENT</h1>
                        <a href="" class="fs:2">더보기></a>
                    </div>
                    <div class="d:flex fl-dir:column gap:2">
                        <li><a>쿵</a></li>
                        <li><a>푸</a></li>                        
                        <li><a>팬</a></li>
                        <li><a>더</a></li>
                        <li><a>4</a></li>
                        <li><a>짱</a></li>
                    </div>
                </div>
                <!-- 커뮤니티 -->

                <div class="fl:fill mb:5">
                    <div class="d:flex">
                        <h1 class="fs:5 fw:3 flex-grow:1 mb:3">커뮤니티</h1>
                        <a href="" class="fs:2">더보기></a>
                    </div>
                    <div class="d:flex fl-dir:column gap:2">
                        <li><a>쿵</a></li>
                        <li><a>푸</a></li>                        
                        <li><a>팬</a></li>
                        <li><a>더</a></li>
                        <li><a>4</a></li>
                        <li><a>짱</a></li>
                    </div>
                </div>
            </section>

            <!-- 관객수 놀이터 -->

            <section>
                <div class="d:flex ac:center">
                    <h1 class="fs:5 fw:3 flex-grow:1 mb:3">놀이터</h1>
                    <a href="" class="fs:2">더보기></a>
                </div>

                <div class="d:flex gap:3">
                <div class="d:flex fl-dir:column movie-playground ai:center ac:center 
                bd-radius:3 txt-al:center">
                    <div class="w:10p bg-color:main-3 fs:3 fw:3 color:base-1">목표 관객수 1300만 이상</div>
                    <div><img src="https://search.pstatic.net/common?quality=75&direct=true&src=https%3A%2F%2Fmovie-phinf.pstatic.net%2F20240311_85%2F1710136183535z3QfC_JPEG%2Fmovie_image.jpg"
                        width="200" height="300" alt=""></div>
                        <div class="w:10p bg-color:main-3 fs:3 fw:3 color:accent-2 bd-radius:3"><a href="">참여하기</a></div>
                </div>

                <div class="d:flex fl-dir:column movie-playground ai:center ac:center 
                bd-radius:3 txt-al:center">
                    <div class="w:10p bg-color:main-3 fs:3 fw:3 color:base-1">목표 관객수 1300만 이상</div>
                    <div><img src="https://search.pstatic.net/common?quality=75&direct=true&src=https%3A%2F%2Fmovie-phinf.pstatic.net%2F20240311_85%2F1710136183535z3QfC_JPEG%2Fmovie_image.jpg"
                        width="200" height="300" alt=""></div>
                        <div class="w:10p bg-color:main-3 fs:3 fw:3 color:accent-2 bd-radius:3"><a href="">참여하기</a></div>
                </div>

                <div class="d:flex fl-dir:column movie-playground ai:center ac:center 
                bd-radius:3 txt-al:center">
                    <div class="w:10p bg-color:main-3 fs:3 fw:3 color:base-1">목표 관객수 1300만 이상</div>
                    <div><img src="https://search.pstatic.net/common?quality=75&direct=true&src=https%3A%2F%2Fmovie-phinf.pstatic.net%2F20240311_85%2F1710136183535z3QfC_JPEG%2Fmovie_image.jpg"
                        width="200" height="300" alt=""></div>
                        <div class="w:10p bg-color:main-3 fs:3 fw:3 color:accent-2 bd-radius:3"><a href="">참여하기</a></div>
                </div>

                <div class="d:flex fl-dir:column movie-playground ai:center ac:center 
                bd-radius:3 txt-al:center">
                    <div class="w:10p bg-color:main-3 fs:3 fw:3 color:base-1">목표 관객수 1300만 이상</div>
                    <div><img src="https://search.pstatic.net/common?quality=75&direct=true&src=https%3A%2F%2Fmovie-phinf.pstatic.net%2F20240311_85%2F1710136183535z3QfC_JPEG%2Fmovie_image.jpg"
                        width="200" height="300" alt=""></div>
                        <div class="w:10p bg-color:main-3 fs:3 fw:3 color:accent-2 bd-radius:3"><a href="">참여하기</a></div>
                </div>

                <div class="d:flex fl-dir:column movie-playground ai:center ac:center 
                bd-radius:3 txt-al:center">
                    <div class="w:10p bg-color:main-3 fs:3 fw:3 color:base-1">목표 관객수 1300만 이상</div>
                    <div><img src="https://search.pstatic.net/common?quality=75&direct=true&src=https%3A%2F%2Fmovie-phinf.pstatic.net%2F20240311_85%2F1710136183535z3QfC_JPEG%2Fmovie_image.jpg"
                        width="200" height="300" alt=""></div>
                        <div class="w:10p bg-color:main-3 fs:3 fw:3 color:accent-2 bd-radius:3"><a href="">참여하기</a></div>
                </div>

                </div>



            </section>
            
            
            </div>
        </section>
    </main>
</body>
</html>