<!-- 가안이 너무 부실함.. -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="inc/adminlayout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
    .main-container {
        width: 980px; 
        margin: 0 auto; 
        height: 100%;
    }   

    .main-contents {
        width: 90%;
        max-width: 980px;
        margin: 0 auto;
        min-height: 580px;
    }
        
</style>
</head>
<body>
    <main layout:fragment="main">
        <div class="bg-color:base-3 h:1">
            <div class="main-container fs:5 fw:3 d:flex jc:space-between align-items:center">
            <span>영화관리</span>
            <form action="list" method="get">
                <div class="d:flex" >
                    <input type="text" name="q" th:value="${searchQuery}" placeholder="영화 검색" class="n-textbox fs:3 fw:2">
                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <section class="main-contents">
        <div class="d:flex jc:end">
            <nav class="nav-contents mt:4 mb:1">
                <ul class="d:flex col-gap:1 jc:flex-end">
                    <li>
                        <a class="fw:bold" href="list">DB 영화 관리</a> |
                    </li>
                    <li>
                        <a href="list-api">API 영화 관리</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div th:each="m: ${list}" class="w:10p bd-bottom bd-color:base-5">
            <section class="w:10p h:1 d:flex ai:center jc:space-between">

                <h1 class="fs:4 fw:bold" th:text="${m.korName}">캐리비안의 해적</h1>

                <div>
                    <span class="fw:bold" th:text="${(m.averageRate == NULL && m.reviewCount==0) ? '15,000' : #numbers.formatInteger(m.averageRate, 1, 'DEFAULT')}">평점 가격</span>원
                    <span class="ml:3 fw:bold" th:text="${m.reviewCount}">리뷰 개수</span>개
                    <input class="ml:3" type="checkbox" name="">
                </div>
            </section>
        </div>

        <div class="h:1 d:flex jc:end ai:center">
            <div><a href="reg" class="n-btn mr:2">게시글 등록</a></div>
            <div>
                <a type="button" class="deco deco-position:right deco-size:3 icon:trash 
                icon-color:base-1 n-btn n-btn-type:filled n-btn-color:accent">삭제</a>
            </div>
        </div>

        
    </section>

    <section class="mb:10">
        <h1 class="d:none">페이저</h1>
        <!-- <div th:text="${param.p} eq null ? 0:${param.p}">1</div> -->
        <ul class="n-pager"
            style="display:flex; justify-content:center; font-size: 20px;"
            th:with="page=${param.p} eq null ? 1 : ${{param.p}}
                    ,floatnum=(${page}-1)/5
                    ,startnum=${T(java.lang.Math).floor(floatnum)} * 5 + 1
                    ,lastnum=${count} mod 10 > 0 ? ${count div 10}+1 : ${count div 10}"
                    >
            <!-- <li th:text="${startnum}">aa</li> -->
            <li>
                <span style="color: rgb(189, 189, 189)" th:if="${page} lt 6">이전</span><!-- 현재 페이지가 6 미만인 경우 -->
                <a th:if="${page} ge 6" th:href="@{list(p=${startnum-1}, q=${searchQuery})}" href="list?p=1">이전</a><!-- 현재 페이지가 6 이상인 경우 -->
            </li>
            <li th:class="${page} == ${n} ? 'active' : ''"  th:each="n : ${#numbers.sequence(startnum, startnum+4)}">
                <!-- 각 페이지 번호에 대한 링크를 생성합니다 -->
                <!-- <a th:href="@{'list?p=' + ${n}}" th:text="${n}"></a> -->
                <a th:if="${n} le ${lastnum}" href="list?p=1" th:href="@{list(p=${n}, q=${searchQuery})}" th:text="${n}">1</a>
                <span style="color: rgb(189, 189, 189)" th:if="${n} gt ${lastnum}" th:text="${n}"></span>
            </li>
            <li>
                <span style="color: rgb(189, 189, 189)" th:if="${startnum}+4 gt ${lastnum}">다음</span> <!--  현재 페이지의 끝이 lastnum 초과인 경우 -->
                <a th:if="${startnum}+4 le ${lastnum}" th:href="@{list(p=${startnum+5}, q=${searchQuery})}">다음</a><!-- 현재 페이지의 끝이 lastnum 이하인 경우 -->
            </li>
        </ul>
    </section>


    </main>
    
</body>
</html>