<!-- 가안이 너무 부실함.. -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="inc/adminlayout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
.main-container {
    width: 980px; margin: 0 auto; 
    height: 100%;
        
    }   
        
</style>
</head>
<body>
    <main layout:fragment="main">
    <div class="bg-color:base-3 h:1">
        <div class="main-container fs:5 fw:3 d:flex jc:space-between align-items:center">
            <span>영화관리</span>
            <form action="" method="get">
                <div class="d:flex" >
                    <input type="text" name="query" value="" placeholder="영화 검색" class="n-textbox">
                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <section class="main-container">

        <div th:each="i:${#numbers.sequence(0,9)}" class="d:flex bd-bottom bd-color:base-5">
            <div class="fs:4 fw:bold h:1 d:flex ai:center">캐리비안의 해적</div>
        </div>

        <div class="h:1 d:flex jc:end ai:center">
            <button type="button" class="deco deco-position:right deco-size:3 icon:trash 
            icon-color:base-1 n-btn n-btn-type:filled n-btn-color:accent">삭제</button>
        </div>

        <div class="h:2 d:flex jc:center ai:center">
            <div><a href="reg" class="n-btn">게시글 등록</a></div>
        </div>
        
    </section>


    </main>
    
</body>
</html>