<!-- 가안이 너무 부실함.. -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="inc/adminlayout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
.main-container {
    width: 980px; margin: 0 auto; 
    height: 100%;
        
    }   
        
</style>
</head>
<body>
    <main layout:fragment="main">
    <div class="bg-color:base-3 h:1">
        <div class="main-container fs:5 fw:3
        d:flex align-items:center">이벤트 및 할인 관리</div>
    </div>
    <section class="main-container">

        <div class="d:flex 
        bd-bottom bd-color:base-5 ai:center gap:2">
            <div class="fs:5 fw:bold h:1 d:flex ai:center
            flex-grow:1">롯데시네마 할인정보</div>
            <div><a href="reg" class="n-btn">게시글 수정</a></div>
            <button type="button" class="deco deco-position:right deco-size:3 icon:trash 
            icon-color:base-1 n-btn n-btn-type:filled n-btn-color:accent">삭제</button>
        </div>

        <div class="d:flex 
        bd-bottom bd-color:base-5 ai:center gap:2">
            <div class="fs:5 fw:bold h:1 d:flex ai:center
            flex-grow:1">롯데시네마 할인정보</div>
            <div><a href="reg" class="n-btn">게시글 수정</a></div>
            <button type="button" class="deco deco-position:right deco-size:3 icon:trash 
            icon-color:base-1 n-btn n-btn-type:filled n-btn-color:accent">삭제</button>
        </div>

        <div class="d:flex 
        bd-bottom bd-color:base-5 ai:center gap:2">
            <div class="fs:5 fw:bold h:1 d:flex ai:center
            flex-grow:1">롯데시네마 할인정보</div>
            <div><a href="reg" class="n-btn">게시글 수정</a></div>
            <button type="button" class="deco deco-position:right deco-size:3 icon:trash 
            icon-color:base-1 n-btn n-btn-type:filled n-btn-color:accent">삭제</button>
        </div>

        <div class="d:flex 
        bd-bottom bd-color:base-5 ai:center gap:2">
            <div class="fs:5 fw:bold h:1 d:flex ai:center
            flex-grow:1">롯데시네마 할인정보</div>
            <div><a href="reg" class="n-btn">게시글 수정</a></div>
            <button type="button" class="deco deco-position:right deco-size:3 icon:trash 
            icon-color:base-1 n-btn n-btn-type:filled n-btn-color:accent">삭제</button>
        </div>

        <div class="d:flex 
        bd-bottom bd-color:base-5 ai:center gap:2">
            <div class="fs:5 fw:bold h:1 d:flex ai:center
            flex-grow:1">롯데시네마 할인정보</div>
            <div><a href="reg" class="n-btn">게시글 수정</a></div>
            <button type="button" class="deco deco-position:right deco-size:3 icon:trash 
            icon-color:base-1 n-btn n-btn-type:filled n-btn-color:accent">삭제</button>
        </div>

        <div class="d:flex 
        bd-bottom bd-color:base-5 ai:center gap:2">
            <div class="fs:5 fw:bold h:1 d:flex ai:center
            flex-grow:1">롯데시네마 할인정보</div>
            <div><a href="reg" class="n-btn">게시글 수정</a></div>
            <button type="button" class="deco deco-position:right deco-size:3 icon:trash 
            icon-color:base-1 n-btn n-btn-type:filled n-btn-color:accent">삭제</button>
        </div>

        <div class="d:flex 
        bd-bottom bd-color:base-5 ai:center gap:2">
            <div class="fs:5 fw:bold h:1 d:flex ai:center
            flex-grow:1">롯데시네마 할인정보</div>
            <div><a href="reg" class="n-btn">게시글 수정</a></div>
            <button type="button" class="deco deco-position:right deco-size:3 icon:trash 
            icon-color:base-1 n-btn n-btn-type:filled n-btn-color:accent">삭제</button>
        </div>

        <div class="d:flex 
        bd-bottom bd-color:base-5 ai:center gap:2">
            <div class="fs:5 fw:bold h:1 d:flex ai:center
            flex-grow:1">롯데시네마 할인정보</div>
            <div><a href="reg" class="n-btn">게시글 수정</a></div>
            <button type="button" class="deco deco-position:right deco-size:3 icon:trash 
            icon-color:base-1 n-btn n-btn-type:filled n-btn-color:accent">삭제</button>
        </div>

        <div class="d:flex 
        bd-bottom bd-color:base-5 ai:center gap:2">
            <div class="fs:5 fw:bold h:1 d:flex ai:center
            flex-grow:1">롯데시네마 할인정보</div>
            <div><a href="reg" class="n-btn">게시글 수정</a></div>
            <button type="button" class="deco deco-position:right deco-size:3 icon:trash 
            icon-color:base-1 n-btn n-btn-type:filled n-btn-color:accent">삭제</button>
        </div>

    
   
    
        
    </section>


    </main>
    
</body>
</html>