<!-- 이벤트 등록 페이지 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="inc/adminlayout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
.main-container {
    width: 980px; margin: 0 auto; 
    height: 100%;
        
    }   
        
</style>
</head>
<body>
    <main layout:fragment="main">
        <div class="bg-color:base-3 h:1">
            <div class="main-container fs:5 fw:3
                d:flex align-items:center">이벤트 및 할인 게시글 등록</div>
        </div>
        
        <form class="main-container mt:5" action="">
            <div class="h:1 bd bd-w:1 bd-color:base-5">CGV 할인 정보</div>

            <div class="h:1 bd bd-w:1 bd-color:base-5">
                <input type="checkbox" id="notice_btn"/>
                <label for="notice_btn"><span>공지글 여부</span></label>
            </div>

            <div>
                <textarea  class="w:10p h:1 bd bd-w:1 bd-color:base-5" name="title" id="editor" placeholder="리뷰 제목을 입력해주세요"></textarea>
            </div>

            <div>
                <!--textarea 작성줄 길어져도 줄넘김해서 쓰지 말것 입력창에 공백생김-->
                <textarea  class="w:10p h:6 bd bd-w:1 bd-color:base-5" name="contents" id="editor" placeholder="내용을 입력해주세요"></textarea>
            </div>

            <div class="p:3 d:flex jc:center">
                <button class="n-btn" type="submit">등록</button>
            </div>
        </form>
    </main>
</body>
</html>