<!-- 이벤트 등록 페이지 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="inc/adminlayout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
.main-container {
    width: 980px; margin: 0 auto; 
    height: 100%;
        
    }   
        
</style>
</head>
<body>
    <main layout:fragment="main">
        <div class="bg-color:base-3 h:1">
            <div class="main-container fs:5 fw:3
        d:flex align-items:center">이벤트 및 할인 게시글 등록</div>
        </div>
        
        <section class="main-container">
        <div class="h:1 bd bd-w:1 bd-color:base-5">CGV 할인 정보</div>

        <div class="h:1 bd bd-w:1 bd-color:base-5">
            <input type="checkbox" id="notice_btn"/>
            <label for="notice_btn"><span>공지글 여부</span></label>
        </div>

        <div class="h:1 bd bd-w:1 bd-color:base-5">
            <label>
                <input type="text" 
                class="w:10p"
                placeholder="리뷰 제목을 입력해주세요" />
            </label>
        </div>

        <div class="h:6 bd bd-w:1 bd-color:base-5">
            <label>
                <input type="text" 
                class="w:10p"
                placeholder="내용을 입력해주세요" />
            </label>
        </div>


        </section>
    </main>
</body>
</html>