        .genre-sf { color: blue; }
        .genre-family { color: green; }
        .genre-performance { color: red; }
        .genre-horror { color: purple; }
        .genre-etc { color: orange; }
        .genre-documentary { color: cyan; }
        .genre-drama { color: pink; }
        .genre-romance { color: yellow; }
        .genre-musical { color: brown; }
        .genre-mystery { color: darkcyan; }
        .genre-crime { color: darkred; }
        .genre-historical { color: darkgreen; }
        .genre-western { color: darkblue; }
        .genre-thriller { color: darkorange; }
        .genre-animation { color: indigo; }
        .genre-action { color: darkviolet; }
        .genre-adventure { color: teal; }
        .genre-war { color: slategray; }
        .genre-comedy { color: olive; }
        .genre-fantasy { color: maroon; }